<template>
	<view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		},
		mounted() {
			const that = this
			uni.getStorage({
				key: 'userInfo',
				success: function(res) {
					// console.log(JSON.parse(res.data)) 
				},
				fail() {
					uni.navigateTo({
						url:"/pages/login/login"
					})
				}
			})
		},
	}
</script>

<style lang="scss">

</style>
