<template>
	<view class="buyImmediately_box">
		<view class="buyImmediately_box_header">
			<view class="take" @click="goAddress">
				<view class="take_top">
					<span>+</span>
				</view>
				<view class="take_center">
					<view class="tab_center_top">
						<span> {{userAdd.receiver}}</span>
						<span>{{userAdd.mobile}}</span>
					</view>
					<view class="tab_center_buttom">
						<span>{{userAdd.province}}</span>
						<span>{{userAdd.city}}</span>
						<span>{{userAdd.area}}</span>
						<span>{{userAdd.addr}}</span>
					</view>
				</view>
				<view class="take_buttom">
					>
				</view>
			</view>
			<view class="commodity">
				<view class="comment_top_top" v-for="(item,index) in list" key="index">
					<view class="commodity_top_left">
						<image style="width: 120px;height: 100px;" :src="item.pic" mode="" lazy-load="true">
						</image>
					</view>
					<view class="commodity_top_right">
						<view class="commodity_top_right_top">
							<view class="comment_view1">
								{{item.prodName}}
							</view>
							<view class="comment_view2">
								{{item.skuName}}
							</view>
						</view>
						<view class="commodity_top_right_bottom">
							<span>￥{{item.price}}</span>
							<span>x1</span>
						</view>
					</view>
				</view>
				<view class="comment_top_buttom">
					<view></view>
					<view>共1件商品 合计:￥{{item.price}}</view>
				</view>
			</view>
			<view class="discount" @click="showDrawer('showLeft')">
				<view class="discount_left">
					<text>优惠券:</text>
					<input type="text" placeholder="暂无可用">
				</view>
				<view class="discount_right">
					<view>
						<text>0张</text>
						<text>></text>
					</view>
				</view>
			</view>
			<uni-drawer ref="showLeft" mode="left" :width="320" @change="change($event,'showLeft')">
				<view class="close">
					<view class="closeTop">
						<view>
							优惠券
						</view>
						<view @click="closeDrawer('showLeft')">
							x
						</view>
					</view>
					<view class="closeButtom">
						<span>可用优惠劵(0)</span>
						<span>不可用优惠劵(0)</span>
					</view>
					<view class="closeFooter">
						<button>确定</button>
					</view>
				</view>
			</uni-drawer>
			<view class="leave">
				<text>卖家留言:</text>
				<input type="text" placeholder="给卖家留言">
			</view>
			<view class="money">
				<div class="money_top">
					<div class="money_top_left">
						订单总额：
					</div>
					<div class="money_top_right" style="color: red; font-size: 13px">￥{{getList.price}}</div>
				</div>
				<div class="money_conter">
					<div class="money_conter_left">
						运费：
					</div>
					<div class="money_conter_right" style="color: red; font-size: 13px">￥0.00</div>
				</div>
				<div class="money_buttom">
					<div class="money_buttom_left">
						优惠金额：
					</div>
					<div class="money_buttom_right" style="color: red;  font-size: 13px">
						-￥1.01
					</div>
				</div>
				<div class="money_footer">
					<view>

					</view>
					<view style="color: red;  font-size: 14px">
						小计：￥{{getList.price}}
					</view>
				</div>
			</view>
		</view>
		<view class="buttom">
			<view class="buttom_left">
				<b>合计：</b>
				<span style="color: red; font-size: 13px">￥{{getList.price}}</span>
			</view>
			<view class="buttom_right">
				<button @click="submitorder">提交订单</button>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		buyImmediately,
		submit,
		orderpay
	} from "@/api/modules/buyImmediately.js"
	export default {
		data() {
			return {
				getList: [],
				shopId: null,
				showRight: false,
				showLeft: false,
				userAdd: [],
				list:[]
			}
		},
		async created() {
			
			
		},
		async onLoad(options) {
			// console.log(options,"**********1******");
			this.getList = decodeURIComponent(options.reslist)
			this.getList = JSON.parse(this.getList);
			console.log(this.getList, '&&&&&&&&&&&&&&&&1');
			this.prodId = this.getList.prodId
			this.skuId = this.getList.skuList[0].skuId
			let res = await buyImmediately({
				addrId: 0,
				basketIds: [],
				couponIds: [],
				orderItem: {
					prodId: this.prodId,
					skuId: this.skuId,
					prodCount: 1,
					shopId: 1
				},
				userChangeCoupon: 1,
			})
			this.shopId = res.shopCartOrders[0].shopId;
			this.list = res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
			// this.getList = JSON.parse(this.getList);
			console.log(this.list,"788778877787787877887887787");
			this.userAdd = res.userAddr;
		},
		methods: {
			async submitorder() {
				//接口 返回订单号
				let res = await submit({
					// orderShopParam:[{remarks: "", shopId: this.shopId}],
					orderShopParam: [{
						remarks: "",
						shopId: this.shopId
					}]
				})
				// 订单支付接口 返回支付的参数
				let data = await orderpay({
					payType: 1,
					orderNumbers: res.orderNumbers
				})
				// console.log(data, 'submit');
				// 换起微信支付
				uni.requestPayment({
					timeStamp: data.timeStamp,
					nonceStr: data.nonceStr,
					package: data.packageValue,
					paySign: data.paySign,
					signType: data.signType,

					success: (res) => {
						console.log(res, "**********");
						// 支付成功的结果页面
					},
					fail: (error) => {
						console.log(error, "error");
						// 跳转到失败的结果页面
						uni.navigateTo({
							url: "/pages/plantFailure/plantFailure"
						})
					}
				})
			},
			goAddress() {
				uni.navigateTo({
					url: '/pages/address/address'
				})
			},
			confirm() {},
			// 打开窗口
			showDrawer(e) {
				this.$refs[e].open()
			},
			// 关闭窗口
			closeDrawer(e) {
				this.$refs[e].close()
			},
			// 抽屉状态发生变化触发
			change(e, type) {
				console.log((type === 'showLeft' ? '左窗口' : '右窗口') + (e ? '打开' : '关闭'));
				this[type] = e
			}
		},
		onNavigationBarButtonTap(e) {
			if (this.showLeft) {
				this.$refs.showLeft.close()
			} else {
				this.$refs.showLeft.open()
			}
		},
		// app端拦截返回事件 ，仅app端生效
		onBackPress() {
			if (this.showRight || this.showLeft) {
				this.$refs.showLeft.close()
				this.$refs.showRight.close()
				return true
			}
		},

	}
</script>

<style lang="less" scoped>
	.buyImmediately_box {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0 0 10px #ccc;

		.buyImmediately_box_header {
			width: 100%;

			.take {
				width: 100%;
				height: 50px;
				display: flex;
				margin-top: 5px;
				justify-content: space-between;
				align-items: center;
				box-shadow: 0 0 10px #ccc;

				.take_top {
					span {
						width: 12px;
						height: 12px;
						border: 2px solid red;
						display: inline-block;
						margin-left: 10px;
						text-align: center;
						line-height: 12px;
						border-radius: 5px;
					}
				}


				.take_center {
					width: 220px;
					height: 45px;
					margin-top: 10px;

					.tab_center_top {
						font-size: 32rpx;

						span:nth-of-type(2) {
							margin-left: 10px;
						}
					}

					.tab_center_buttom {
						color: #999;
						font-size: 30rpx;
						margin-top: 3px;
					}

				}

				.take_buttom {
					margin-right: 10px;
				}
			}

			.commodity {
				width: 100%;
				height: 150px;
				box-shadow: 0 0 10px #ccc;
				margin-top: 5px;

				.comment_top_top {
					width: 100%;
					height: 120px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0px -10px;
					border-bottom: 1px solid #ccc;

					.commodity_top_left {
						margin-left: 10px;

						img {
							width: 100px;
							height: 90px;
						}
					}

					.commodity_top_right {
						flex: 1;
						margin-left: 10px;
					}
				}

				.comment_top_buttom {
					width: 100%;
					height: 20px;
					text-align: right;
					font-size: 14px;
					line-height: 30px;
				}

				.commodity_top_right_bottom {
					flex: 1;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 2px;
					margin-top: 10px;
				}

				.comment_view1 {
					font-size: 13px;
				}

				.comment_view2 {
					font-size: 10px;
					color: #999;
				}

				.data-v-4ee1adc6 {
					margin-right: 10px;
				}
			}
		}


		.discount {
			width: 100%;
			height: 30px;
			box-shadow: 0 0 10px #ccc;
			margin-top: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 5px;

			input {
				width: 70%;
				margin-left: 60px;
				margin-top: -20px;
				font-size: 12px;
			}

			.data-v-4ee1adc6 {
				margin-right: 5px;
			}
		}

		.leave {
			width: 100%;
			height: 30px;
			margin-top: 5px;
			box-shadow: 0 0 10px #ccc;
			padding: 0 5px;

			input {
				width: 70%;
				margin-left: 75px;
				margin-top: -20px;
				font-size: 12px;
			}
		}

		.money {
			width: 100%;
			height: 150px;
			display: flex;
			flex-wrap: wrap;
			box-shadow: 0 0 10px #ccc;
			margin-top: 5px;

			.money_top {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 5px;
			}

			.money_conter {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 5px;
			}

			.money_buttom {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 5px;
				border-bottom: 1px solid #ccc;
			}

			.money_footer {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 5px;
			}
		}
	}

	.buttom {
		width: 100%;
		position: absolute;
		bottom: 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0 0 10px #ccc;

		.buttom_left {
			width: 100px;
			display: flex;
			line-height: 12px;
			justify-content: space-between;
		}

		button {
			width: 100px;
			height: 50px;
			border-radius: 0px;
			background-color: #da2e2e;
			color: #fff;
			text-align: center;
		}
	}
	
	.closeTop{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}
	
	.closeButtom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 20px;
		span:nth-of-type(1){
			border-bottom: 3px solid red;
			color: black;
			font-weight: 900;
		}
	}
	.closeFooter{
		width: 100%;
		height: 30px;
		position: absolute;
		bottom: 10px;
		box-shadow: 0 0 10px #ccc;
		button{
			width: 200px;
			height: 25px;
			margin-top: 5px;
			background-color: red;
			color: #fff;
			font-size: 13px;
			border-radius: 10px;
			text-align: center;
		}
	}
	
	.tab_center_buttom {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
