<template>
	<view>
		<my-search :isShow='false' :val='val' @confirm='handelConfirm' :isCancle='true'></my-search>
		<view class="search_con">
			<view class="hotSearch">
				<text>热门搜索</text>
			</view>
			<view class="history_search">
				<text>搜索历史</text>
				<!-- <text @click="removeStorage"><image src="../../../static/images/icon/clear-his.png"></image></text> -->
				<text @click="removeStorage" class="deletecon">删除</text>

			</view>
			<view class="history_list">
				<text v-for="(item,index) in historyList" :key="index" class="history_list_item">{{item}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		searchList
	} from '@/api/modules/home'
	export default {
		data() {
			return {
				val: '',
				historyList: uni.getStorageSync('historylist') || [], //先从本地获取存储的值  
				searchConList: []
			};
		},
		methods: {
			handelConfirm(value) {
				// console.log('搜索页面点击完成')
				// console.log(value, 'valuesssss')
				//1.存储历史记录
				this.saveStorage(value)
				//请求数据
				searchList({
					current: 1,
					prodName: value,
					size: 10,
					sort: 1,
				}).then(res => {
					this.searchConList = res.records
					// console.log(this.searchConList, 'ressssssssssssssssssssssssssssssssssssssss')
					// 2.跳转到搜索结果页面
					uni.navigateTo({
						url: '/searchpkg/pages/search-result/search-result?val=' + value +
							'&searchConList=' + encodeURIComponent(JSON.stringify(this.searchConList))
							//encodeURIComponent因为在作用与url当作参数传递的时候，如参数出现空格这样的特殊字段，
							// 后台只可以读取到空格前的内容，后面内容丢失，造成数据读取失败，但是如果用encodeURIComponent()包裹一下，
							// 那会将这些特殊字符进行转义，这样后台就可以成功读取了，所以encodeURIComponent()用于url作为参数传递的场景中使用

					})
				})
			},
			//存储历史记录
			saveStorage(value) {
				//1.如果历史记录里面已经存在： 先把原来的删除，然后再把最新的插入到数组的第一个
				//2. 如果历史记录里面不存在，就直接插入到数组的第一个
				let ind = this.historyList.findIndex(item => item == value);
				if (ind !== -1) { //说明历史记录里面有
					this.historyList.splice(ind, 1)
				}
				this.historyList.unshift(value)
				uni.setStorageSync('historylist', this.historyList)
			},
			removeStorage() { //删除
				// this.historyList = []
				// uni.removeStorageSync('historylist')
				uni.showModal({
					title: '确认删除么',
					showCancel: true,
				});
				this.delStorage()
			},
			delStorage() {
				this.historyList = []
				uni.removeStorageSync('historylist')
			}

		}
	}
</script>

<style lang="scss">
	.search_con {
		width: 100%;
		font-size: 35rpx;
		padding: 0 15rpx;
		box-sizing: border-box;
	}

	.hotSearch {
		color: #cccccc;
		height: 80rpx;
		line-height: 80rpx;
		width: 100%;
		border-top: 1px solid #cccccc;
		padding: 15rpx;
		font-weight: 600;
	}

	.history_search {
		color: #cccccc;
		height: 80rpx;
		width: 100%;
		border-top: 1px solid #cccccc;
		padding: 15rpx;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.deletecon {
		margin-right: 20rpx;
	}

	.history_list {
		// width: 100%;
		// display: flex;
		// justify-content: space-around;
		// flex-wrap: wrap;
	}

	.history_list_item {
		width: 20%;
		padding: 10rpx 25rpx;
		background-color: lightgray;
		margin-left: 15rpx;
		border-radius: 28rpx;
	}
</style>
