<template>
	<view class="recent-news">
	<view  v-for="(item, index) in tagList" :key="item.id" @click="tomessageDetail" :data-id='item.id'>
		<view class="news-item"  >
		</view>  <view class='news-item-title'>{{item.title}}</view>
		      <view class='news-item-date'>
		        {{item.publishTime}}
		      </view>
	      </view>
		</view>
	</view>
</template>

<script>
	import {
		TagList
	} from '@/api/modules/home'
	export default {
		data() {
			return {
				tagList:[],//通知
			};
		},
		methods:{
			 tomessageDetail(e){
				 // console.log(e,'e')
				 // console.log('123344')
				 var id=e.currentTarget.dataset.id
				 uni.navigateTo({
				 	 url: "/pages/messagedetail/messagedetail?id="+e.currentTarget.dataset.id
				 })
				 // uni.navigateTo({
				 // 	url:'/pages/messagedetail/messagedetail?id='+e.currentTarget.dataset.id'
				 // })
			 }
	    },
	async mounted(){
		let res=await TagList({
			 url: "/shop/notice/topNoticeList",
		})
		 this.tagList=res
	   }
	}
</script>

<style lang="scss">
.recent-news {
  background: #fff;

}

.recent-news .news-item {
  padding: 20rpx 20rpx 0 20rpx;
  position: relative;
 border-top: 1px solid #ccc;
}

// .recent-news .news-item::after {
//   content: " ";
//   width: 100%;
//   height: 2rpx;
//   background-color: #e1e1e1;
//   left: 20rpx;
//   display: block;
//   position: absolute;
// }

.recent-news .news-item .news-item-title {
  font-size: 20rpx;
  text-align: left;
}

.recent-news  .news-item-date {
  font-size: 24rpx;
  color: #999;
  text-align: right;
  margin-top: 10rpx;
  margin-bottom: 20rpx;
}

</style>
