<template>
	<view>
		<view class="container" v-if="!token">
			<view class="header">
				<image src="/static/images/icon/logo.png"></image>
			</view>
			<view class="content">
				<view>电商平台</view>
				<view>申请获取你的公开信息(昵称，头像等)</view>
			</view>
			<!-- 在微信小程序显示 -->
			<!-- #ifdef MP-WEIXIN -->
			<button class="bottom" type="primary" withCredentials="true" @click="getUserProfile">微信授权登录</button>
			<!-- #endif -->
			<!-- 除了微信小程序 -->
			<!-- #ifndef MP-WEIXIN -->
			<button class="bottom" type="primary" withCredentials="true" @click="getLogin">h5授权登录</button>
			<!-- #endif -->
		</view>

		<view class="container" v-else>
			<view class="header">
				<image :src="userInfo.avatarUrl"></image>
			</view>
			<button class="bottom" type="primary" withCredentials="true" @click="outLogin">退出登录</button>
		</view>

	</view>
</template>

<script>
	import {
		mapActions,
		mapMutations,
		mapState
	} from "vuex"
	import {
		toLogoin
	} from "../../api/modules/login.js";
	export default {
		name: "my-login",
		data() {
			return {

			};
		},
		computed: {
			...mapState("user", ["token", "userInfo"])
		},
		mounted() {
			console.log(this.token);
			console.log(this.userInfo);
		},
		methods: {
			...mapActions("user", ["getToken"]),
			...mapMutations("user", ["removeStorage"]),
			// 获取信息
			getUserProfile() {
				// 获取用户信息。
				uni.getUserProfile({
					desc: '登录',
					success: (info) => {
						// console.log(info, "info")
						//这里取到的是用户的信息，自己安排自己的业务
						// 登录
						uni.login({
								provider: 'weixin',
								success: async (res) => {
									// console.log(res, "res")
									//这里获取的是用户的code，用来换取 openid、unionid、session_key 等信息，再将信息丢给后台自己的登录业务就行了
									await this.getToken({
										code: res.code,
										userInfo: info.userInfo
									})
									this.$emit("tokensuccess")
									
								}
							})
							
					},
					fail: (err) => {
						// console.log(err, "err");
						uni.showToast({
							title: "授权失败",
							icon: "none"
						})
					}
				})
			},
			// 退出登录
			outLogin() {
				console.log(111);
				this.removeStorage();
				
				uni.navigateTo({
					url:"../../pages/my/my"
				})
			},
			// h5登录
			getLogin(){
			console.log("h5登录");	
			}
		}
	}
</script>

<style lang="scss" scoped>
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		background-color: #fff;
		flex-direction: column;
	}

	.header {
		border-bottom: 1px solid #eee;
		text-align: center;
		width: 100%;
		height: 300rpx;
		line-height: 450rpx;
	}

	.header image {
		text-align: center;
		width: 200rpx;
		height: 200rpx;
	}

	.content {
		text-align: center;
		font-size: 30rpx;
		line-height: 30px;
	}


	.bottom {
		border-radius: 80rpx;
		margin: 70rpx 50rpx;
		font-size: 35rpx;
	}
</style>
