<script>
	export default {
		// 当uni-app 初始化完成时触发（全局只触发一次）
		onLaunch: function() {
			// console.warn('当前组件仅支持 uni_modules 目录结构 ，请升级 HBuilderX 到 3.1.0 版本以上！')
			// console.log('App Launch')
		},
		// 当 uni-app 启动，或从后台进入前台显示
		onShow: function() {
			// console.log('App Show')
			// 是否有登录
			// let token = uni.getStorageSync("token")
			// // console.log(token, "token");
			// if (token) { 
			// 	uni.navigateBack({
			// 		delta:1
			// 	})
			// }else{ 
			// 	uni.reLaunch({
			// 		url:"pages/login/login"
			// 	})
			// }
		},
		// 	当 uni-app 从前台进入后台
		onHide: function() {
			// console.log('App Hide')
		}
	}
</script>

<style lang="scss">
	// vant样式
	@import "/wxcomponents/vant/dist/common/index.wxss";
	/*每个页面公共css */
	@import '@/uni_modules/uni-scss/index.scss';
	/* #ifndef APP-NVUE */
	@import '@/static/customicons.css';
	// 设置整个项目的背景色
	page {
		background-color: #f5f5f5;
		width: 100%;
		height: 100%;
	}

	/* #endif */
	.example-info {
		font-size: 14px;
		color: #333;
		padding: 10px;
	}
</style>
