<template>
	<view>
		<van-tabs @change="onChange">
			<van-tab v-for="(item,index) in navList" :key="item.index" :title="item.title">
				<view v-if="records.length">
					<view class="" v-for="(itm,ind) in records " :key="ind">
						<view class="nav_item">
							<view>
								订单编号：{{itm.orderNumber}}
							</view>
								<van-card :num="itm.orderItemDtos[0].prodCount" :price="itm.orderItemDtos[0].price"
								:desc="itm.orderItemDtos[0].skuName" :title="itm.orderItemDtos[0].prodName"
								:thumb="itm.orderItemDtos[0].pic" 
								/>
							<view>
								<text @click="calOrder(itm)">取消订单</text>
							</view>
						</view>
					</view>
				</view>
				<view v-else>
					还没有相关订单
				</view>
			</van-tab>
		</van-tabs>
	</view>
</template>

<script>
	import {
		mapState,
		mapActions,
		mapMutations
	} from "vuex"
	import {
		getOrder,
		cancelOrder,
		delOrder
	} from "../../api/modules/order.js"
	export default {
		props: [{
			index: Number
		}],
		data() {
			return {
				current: 1, //当前页
				size: 10, //每页条数
				active: 0, //
				isActive: 0, //  页面高亮
				status: 0, // 第几个页面
				records: [], //请求回来的数据
				navList: [{ //tab切换的数据
					index: 0,
					title: '全部'
				}, {
					index: 1,
					title: "待支付"
				}, {
					index: 2,
					title: "待发货"
				}, {
					index: 3,
					title: "待收货"
				}, {
					index: 4,
					title: "已完成"
				}]
			};
		},
		created() {
			this.getorderlist()
		},

		onLoad(option) {
			this.isActive = option.active;
			this.status = option.active;
		},
		methods: {
			async getorderlist() {
				let res = await getOrder({
					current: this.current,
					size: this.size,
					status: this.status
				})
				console.log(res.records, "orderList");
				this.current = res.current;
				this.size = res.size;
				this.records = res.records;

			},
			checked(index) {
				this.isActive = index
			},
			onChange(e) {
				console.log(e.detail.index);
				this.status = e.detail.index;
				this.getorderlist()
			},
			calOrder(val) {
				console.log(val, "val");
				if(val.status===1){
							uni.showModal({
					title: "确认取消该订单吗",
					success(res) { 
						if (res.confirm) {
							cancelOrder(
								val.orderNumber
							)
						}
					}
				})
				}else{
					uni.showModal({
					title: "该订单已被取消,确认删除该订单吗", 
					 success(res) {
					 	if (res.confirm) {
					 		delOrder(
					 			val.orderNumber
					 		)
					 	}
					 }
				})
			this.getorderlist()
			}
		}
	},
	}
</script>

<style lang="scss">
	.tab_nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.tab_nav .navTitle {
		height: 90rpx;
		line-height: 90rpx;
		width: 100%;
		text-align: center;
		font-size: 32rpx;
		font-family: Alibaba PuHuiTi;
		color: #333;
		background-color: #fff;
		margin: 5px 0;
	}

	.active {
		position: relative;
		color: #f00;
	}

	.active::after {
		content: "";
		position: absolute;
		width: 100rpx;
		height: 4rpx;
		background-color: #f00;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: auto;
	}
</style>
