<template>
	<view>
		<view class="uni-form-item uni-column">
			<view class="title">手机号码 :</view>
			<input class="uni-input" maxlength="10" placeholder="输入手机号码" @input="changePhone" v-model="phonenum" />
		</view>
		<view class="uni-form-item uni-column">
			<view class="title">验证码 :</view>
			<input class="uni-input" @input="onKeyInput" placeholder="输入验证码" v-model="code" />
			<text @click="getCode">获取验证码</text>
		</view>
		<view v-if="phonenum&&code" class="clickbtn">
			<button type="primary" @click="surePhone">确定</button>
		</view>
		<view v-else class="clickbtn">
			<button disabled="true" type="primary">确定</button>
		</view>
	</view>
</template>

<script>
	import {
		getCode,
		sureBtn
	} from "../../api/modules/login.js"
	export default {
		name: "phone",
		data() {
			return {
				phonenum: '',
				code: '',
			};
		},
		mounted() {

		},
		methods: {
			// 改变手机号
			changePhone(e) {
				// console.log(e.target.value, "val")
				this.phonenum = e.target.value
			},
			// 改变验证码
			onKeyInput(e) {
				this.code = e.target.value
			},
			// 获取验证码
			getCode() {
				if (this.phonenum) {
					if (this.code) {
						getCode({
							mobile: this.phonenum
						}).then(res => {
							console.log(res, "phoneres");
						})
					} else {
						uni.showToast({
							title: "发送短信失败，请重新发送",
							duration: 1000,
							icon: "none"
						})
					}
				} else {
					uni.showToast({
						title: "请输入手机号",
						duration: 1000,
						icon: "none"
					})
				}
			},
			// 点击确认按钮
			surePhone() {
				console.log(11);
				sureBtn({
					appType: 1,
					mobile: this.phonenum,
					registerOrBind: 2,
					validCode: this.code,
					validateType: 1,
				})
			}
		}
	}
</script>

<style lang="scss">
	.uni-column {
		width: 100%;
		height: 40px;
		display: flex;
		font-size: 10px;
		align-items: center;
		border-bottom: 1px solid #eee;

		view {
			display: inline-block;
			width: 50px;
		}

		input {
			flex: 1;
		}

		text {
			margin-right: 15px;
			color: darkcyan;
		}
	}

	.clickbtn {
		width: 80%;
		margin: 20px auto;
		border-radius: 50px;
		overflow: hidden;
	}
</style>
