<template>
	<view>
		<view class="con_top" v-if="isShow">
			<view class='search_box' @click='toSearchPage'>
				<image src='../../static/images/icon/search.png' class='search_img'></image>
				<text class='search_cont'>搜索</text>
			</view>
		</view>
		<view v-else >
			<uni-search-bar @confirm="search" :focus="true" :value='val' @input="input" @cancel="cancel"
				:cancelButton="isCancle?'auto':'none'" @clear="clear">
			</uni-search-bar>
		</view>
	</view>
</template>

<script>
	export default {
		name: "my-search",	
		props: {
			isShow: {
				type: Boolean,
				default: false
			},
			val: {
				type: String,
				default: ''
			},
			isCancle: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
			};
		},

		methods: {
			//点击跳转到搜索页面
			toSearchPage() {
				uni.navigateTo({
					url: '../../searchpkg/pages/search/search'
				})
			},
			//回车事件
			search({
				value
			}) {
				this.$emit('confirm', value)
			 //1.跳转到搜索结果页面
				// uni.navigateTo({
				// 	url: '../../searchpkg/pages/search-result/search-result?val='+value
				// })
				// 2.搜索结果页面 回车的时候 要发请求
            },
			input(res) {
				// console.log('----input:', res)
			},
			//清除事件
			clear(res) {
				uni.showToast({
					title: 'clear事件，清除值为：' + res.value,
					icon: 'none'
				})
			},
		    //取消 
			cancel(res) {
				//返回到上一个页面
				uni.navigateBack({
					delta: 1
				});
			}
		},
	}
</script>

<style lang="scss">
	/* 搜索盒子 */
	.con_top {
		width: 100%;
		height: 60rpx;
		background-color: #ffffff;
		position: fixed;
		z-index: 999;
		text-align: center;
		top: 0rpx;
		padding-bottom: 20rpx;
	}

	.con_top .search_box {
		width: 80%;
		background: #f7f7f7;
		height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 9%;
		border-radius: 40rpx;
	}

	.con_top .search_box .search_img {
		width: 35rpx;
		height: 35rpx;
		margin-right: 20rpx;
	}

	.con_top .search_box .search_cont {
		font-size: 30rpx;
	}
</style>

