<!-- <template>
	<view class="bui-vr-preview" style="background-color: aliceblue;">
		<canvas type="webgl" :id="id" :canvas-id="id" :style="{width: width, height:height}" 
		 :disable-scroll="true"
		  @touchmove.prevent.stop="touchmove"
		  @touchstart.prevent.stop="touchstart"
		  @touchend.prevent.stop="touchend"
		@error="canvasIdErrorCallback"></canvas>
	</view>
</template>
 
<script>
	// fbudlr  
	 import Image360 from "./Image360.js";
	 
	 let images = [
		 "https://yourhost****/dist/00/manager/buick/pano_f.jpeg?imageMogr2/auto-orient/strip/rotate/180/thumbnail/!1024x1024r/quality/70/interlace/1/gravity/center", 
		 "https://yourhost****/dist/00/manager/buick/pano_b.jpeg?imageMogr2/auto-orient/strip/rotate/180/thumbnail/!1024x1024r/quality/70/interlace/1/gravity/center", 
		 "https://yourhost****/dist/00/manager/buick/pano_u.jpeg?imageMogr2/auto-orient/strip/rotate/180/thumbnail/!1024x1024r/quality/70/interlace/1/gravity/center",
		 "https://yourhost****/dist/00/manager/buick/pano_d.jpeg?imageMogr2/auto-orient/strip/rotate/360/thumbnail/!1024x1024r/quality/70/interlace/1/gravity/center",
		  "https://yourhost****/dist/00/manager/buick/pano_l.jpeg?imageMogr2/auto-orient/strip/rotate/180/thumbnail/!1024x1024r/quality/70/interlace/1/gravity/center",
		"https://yourhost****/dist/00/manager/buick/pano_r.jpeg?imageMogr2/auto-orient/strip/rotate/180/thumbnail/!1024x1024r/quality/70/interlace/1/gravity/center", 
	 ]
	 
	export default {
		name: "bui-vr-preview",
		props: {
			/* canvas id, 同一页面多次引用,不可重名 */
			id:{
					type:String,
					default: "canvas_" + Math.round(Math.random()*9999)
			},
			/**
			 * 高度 默认450rpx
			 */
			height: {
				type: String,
				default: "450rpx"
			},
			/**
			 * 宽度 默认 100%
			 */
			width: {
				type: String,
				default: "100%"
			}
		},
		data() {
			return {
				  imagebox:null,
				  inited: false,
			};
		},
		onLoad() { 
			this.init()
		},
		methods: {
			canvasIdErrorCallback: function (e) {
						console.error("canvas 操作异常",e.detail.errMsg ,e)
					},
			init() {
				let self = this;
				let selector= this.$$('#'+this.id)
 
				selector.node()
					.exec((res) => {
						const canvas = res[0].node
						 console.log(res)
						 this.imagebox = new Image360(canvas,images,{
							 textureComplete:()=>{
								 self.inited = true;
							 }
						 }); 
					})
			},
			touchmove(e) {
				let self = this;
				 
				if(!self.inited)return;
				this.imagebox.touchmove(e) 
			},
			touchstart(e){
				let self = this;
				 
				  this.imagebox.touchstart(e) 
				 
				
			},
			touchend(e){
				let self = this;
				if(!self.inited)return;
				this.imagebox.touchend(e) 
			},
 
 
 
		}
	}
</script>
 
<style lang="scss" scoped>
 
</style> -->