<template>
	<view>
		<my-login @tokensuccess="Loginsuccess"></my-login>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		},
		methods: {
			Loginsuccess() {
				uni.navigateBack({
					delta: 1
				})
			}
		}
	}
</script>

<style lang="scss">

</style>
