<template>
	<view class="time_limit">
		<text>暂无商品</text>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss">
.time_limit{
	text-align: center;
}
</style>
