<template>
	<view class="new_list">
	    <view v-for="(item, index) in list" :key="item.prodId" class="new_list_item"  @click="detail" :data-id='item.prodId'> 
			<img :src="item.pic" alt="">
				<view class="prod_text">{{item.prodName}}</view>
				<view class="prod_price" >¥{{item.price}}</view>
		</view>
	</view>
</template>

<script>
	import {
	newProdList
	} from '@/api/modules/home'
	export default {
		data() {
			return {
				list:[]
			};
		},
		methods:{
			async  getinit(){
			 let res=await newProdList({
			 	 current:1,
				 size:10
			 })
			 this.list=res.records
			 // console.log(res,'res222222222222222222');
			 },
			//  detail(e) {
			// 	 console.log(1111)
			//  	var prodId=e.currentTarget.dataset.id
			//  	uni.navigateTo({
			//  		 url: "/pages/prod/prod?prodId="+e.currentTarget.dataset.id
			//  	})
			//  	console.log(prodId,'prodId')
			
			//  },
		},
		onLoad(){
			this.getinit()
		}
	}
</script>

<style lang="scss">
.prod_price{
	 color: #eb2444;
	 padding: 8rpx 6rpx;
}
.new_list{
	width: 100%;
	display: flex;
	
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 20rpx
}
.new_list_item{
	width: 40%;
	height: 400rpx;
}
.new_list_item img{
	width: 100%;
	height: 300rpx;
}
</style>
