<template>
	<view class="collect_list" v-if="collectList.length">
		<view v-for="(item,index) in collectList" :key="item.prodId" class="list_item">
			<image :src="item.pic"></image>
				<h3>{{item.prodName}}</h3>
			<view class="list_item_foot">
				<p>¥{{item.price}}</p>
			</view>
		</view>
	</view>
	<view v-else class="nodata">暂无数据</view>
</template>

<script>
	import {
		collectPro
	} from '@/api/modules/home'
	export default {
		data() {
			return {
				collectList: []
			}
		},
		methods: {

		},
		async mounted() {
			let res = await collectPro({
				current: 1,
				size: 10
			})
			this.collectList = res.records
			console.log(res.records, 'resssssssssssssssssssssssssssssssssssssssssssssssss')
		}
	}
</script>

<style>
	.collect_list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.list_item {
		width: 46%;
		height: 480rpx;
		/* border: 1px solid #cccc; */
		position: relative;
		margin:20rpx 5rpx;
	}

	.list_item image {
		width: 100%;
		height: 320rpx;
	}

	.list_item_foot {
		width: 100%;
        position:absolute;
		bottom:0;
	}

	h3 {
		/* white-space: nowrap;
		text-overflow: ellipsis;
			-webkit-line-clamp: 2; //多行在这里修改数字即可，这里显示3行
		overflow: hidden; */
		overflow: hidden; //超出隐藏
		text-overflow: ellipsis; //溢出用省略号显示
		display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
		// 控制行数
		-webkit-line-clamp: 2; //超出两行隐藏
		-webkit-box-orient: vertical; // 从上到下垂直排列子元素
	}
	p{
		color: darkred;
	}
	.nodata{
		text-align: center;
	}
</style>
