<template>
	<view>
		<view class="">
			{{title}}
		</view>
		<view class="rich_text">
			<rich-text :nodes="nodes"></rich-text>
		</view>

	</view>
</template>

<script>
	import {
		messageDetailList
	} from '@/api/modules/home'
	export default {
		data() {
			return {
				id: '',
				nodes: '',
				title: '',
			}
		},
		methods: {

		},
		async onLoad(options) {
			this.id = options.id
			let res = await messageDetailList(this.id)
			this.nodes = res.content
			this.title = res.title
			this.nodes = res.content.replace(/\<img/gi, '<img style="width:100% !important;height:auto !important;margin:0;display:flex;" ');
			  // content = content.replace(/\<td/gi, '<td  cellspacing="0" cellpadding="0" border="0" style="display:block;vertical-align:top;margin: 0px; padding: 0px; border: 0px;outline-width:0px;" ');
			  // content = content.replace(/width=/gi, 'sss=');
			  // content = content.replace(/height=/gi, 'sss=');
			  // content = content.replace(/ \/\>/gi, ' style="max-width:100% !important;height:auto !important;margin:0;display:block;" \/\>');
			// this.nodes=res.content&&res.content.replace(/\<img style="width:100%;height:auto;display:block;"/g,'<img style="width:100rpx;height:auto;display:block"') 
		    // console.log(this.nodes,'this.nodes')
		},
		async mounted() {
			// console.log(this.id)
			// let res=await messageDetailList(this.id)
			//  this.nodes=res.content
			//  this.title=res.title
			// this.nodes = res.content.replace('<img style="display: block; margin-left: auto; margin-right: auto;" src="http://img-test.gz-yami.com/2019/04/febc23ad9cab40a3b7a9557df244b948.jpg" alt="" width="100%" height="300" />"','<img style="display: block; margin-left: auto; margin-right: auto;" src="http://img-test.gz-yami.com/2019/04/febc23ad9cab40a3b7a9557df244b948.jpg" alt="" width="100%" height="300" />"')
			// console.log(res.content,'detailressssssssssssssssssssssssss')
			// console.log(this.nodes,'essssssssssssssssssssssssss')
		}
	 }
</script>

<style>
	/*   rich-text image{
		width: 50rpx !important;
		height: 50rpx !important;
	} */
	.rich_text {
		width:100%;
	}
</style>
