<template>
	<view class="view-box">
		<view class="con_top">
			<my-search isShow='true'></my-search>
		</view>
		<view class="tab-box">
			<view class="tab-box-left">
				<view v-for="(item,index) in list" :key="index">
					<span :class="{'active':isActive==index}" @click="()=>chenked(index)">
						{{item.categoryName}}
					</span>
				</view>
			</view>
			<view class="tab-box-right">
				<view class="tab-box-right-top">
					<!-- <view v-for="(item,index) in list[isActive]" :key="item.id">
						<img :src="item[isActive].pic" alt="">
					</view> -->
					<img :src="list[isActive].pic" alt="" lazy-load=true>
				</view>
				<view class="tab-box-right-bottom">
					<view v-for="(item,index) in listRight" :key="index" @click="deleteId(item)">
						<view class="tab-box-right-bottom-left">
							<img :src="item.pic" alt="" lazy-load=true>
						</view>
						<view class="tab-box-rigin-bottom-right">
							<view class="hezi">
								<view class="viewTop">
									{{item.prodName}}
								</view>
								<view class="viewConent">
									{{item.brief}}
								</view>
								<view class="viewBottom">
									<b style="color: red;">￥{{item.price}}.00</b>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import TotalMixins from '@/mixins/index.js'
	import {
		categoryId,
		categoryInfo
	} from '@/api/modules/classiyf.js'
	export default {
		mixins: [TotalMixins],
		data() {
			return {
				total: 0,
				isActive: 0,
				list: [],
				listRight: []
			};
		},
		async created() {
			let res = await categoryInfo({
				url: 'category/categoryInfo?parentId=',
			})
			this.list = res;
		},
		methods: {
			chenked(index) {
				this.isActive = index;
				categoryId({
					categoryId: this.list[this.isActive].categoryId
				}).then((res) => {
					this.listRight = res.records
				})
			},
			deleteId(item) {
				var categoryId = item.prodId;
				uni.navigateTo({
					url: "/pages/prod/prod?prodId=" + categoryId
				})
			}
		}
	}
</script>

<style lang="scss">
	.view-box {
		width: 100%;
		height: 100%;

		.con_top {
			width: 100%;
			height: 30px;
			text-align: center;
			border-radius: 15px;
			border: 1px solid #fff;
			margin: 0 auto;
			line-height: 40px;
			background-color: #eee;

			.search_img {
				width: 30rpx;
				height: 30rpx;
				margin-right: 20rpx;
			}
		}

		.tab-box {
			width: 100%;
			height: calc(100% - 30px);
			position: fixed;
			top: 45px;
			display: flex;

			.tab-box-left {
				background-color: #eee;

				span {
					display: inline-block;
					width: 100%;
					line-height: 40px;
					text-align: center;
				}

				.active {
					width: 99px;
					color: red;
					border-left: 5px solid red;
					background-color: #fff;
				}
			}

			.tab-box-right {
				flex: 1;
				overflow-y: scroll;

				.tab-box-right-top {
					width: 98%;
					height: 100px;
					margin: 0 auto;

					img {
						width: 100%;
						height: 80%;
					}
				}

				.tab-box-right-bottom {
					width: 100%;
					margin-top: -18px;

					.tab-box-right-bottom-left {
						width: 35%;
						height: 90px;
						float: left;
						margin-left: 8px;
						margin-top: 10px;

						img {
							width: 100%;
							height: 70px;
						}
					}

					.tab-box-rigin-bottom-right {
						width: 60%;
						float: right;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						line-height: 30px;

						.hezi {
							width: 100%;
							height: 90px;
							margin-top: 10px;
						}

						.viewTop {
							width: 140px;
							text-overflow: ellipsis;
							white-space: nowrap;
							line-height: 30px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 14px;
						}

						.viewConent {
							margin-top: -10px;
							font-size: 22rpx;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #aea8a8;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.viewBottom {
							margin-top: -5px;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
</style>
