<template>
	<view class="view-box">
		<view class='con_top' @click='toSearchPage'>
			<image src='../../static/images/icon/search.png' class='search_img'></image>
			<text class='search_cont'>搜索</text>
		</view>
		<view class="tab-box">
			<view class="tab-left">
				<scroll-view scroll-y="true">
					<view v-for="(item,index) in tabList" :key="item.id" class="tab-left-yas">
						<view :class="{'active':isActive==index}" @click="chenked(index)">
							{{item.namelist}}
						</view>
					</view>
				</scroll-view>
			</view>
			<view class="tab-right">
				<scroll-view scroll-y="true">
					<view v-for="(item,index) in list.records" :key="item.id" v-show="isActive==0">
						<view class="content" style="width: 98%;height: 100px;background-color: pink;margin: 0 auto;">
							<rich-text :nodes="item.content"></rich-text>
						</view>
						<view class="bottom_list">
							<view class="listsi">
								<img :src="item.pic" alt="">
								<view class="right_list">
									<p> {{item.prodName}}</p>
									<span>{{itemk.brief}}</span>
								</view>
							</view>
						</view>

					</view>
					<view v-for="(item,index) in listone.records" :key="item.id" v-show="isActive==1">
						<view class="content" style="width: 98%;height: 100px;background-color: pink;margin: 0 auto;">
							<rich-text :nodes="item.content"></rich-text>
						</view>
						<view class="listsi">
							<img :src="item.pic" alt="">
							<view class="right_listone">
								<p> {{item.prodName}}</p>
								<span>{{item.brief}}</span>
							</view>
						</view>
					</view>
					<view v-for="(item,index) in listhess.records" :key="item.id" v-show="isActive==2">
						<view class="content" style="width: 98%;height: 100px;background-color: pink;margin: 0 auto;">
							<rich-text :nodes="item.content"></rich-text>
						</view>
						<view class="listsi">
							<img :src="item.pic" alt="">
							<view class="right_listhess">
								<p> {{item.prodName}}</p>
								<span>{{item.brief}}</span>
							</view>
						</view>
					</view>
					<view v-for="(item,index) in listsi.records" :key="item.id" v-show="isActive==3">
						<view class="content" style="width: 98%;height: 100px;background-color: pink;margin: 0 auto;">
							<rich-text :nodes="item.content"></rich-text>
						</view>
						<view class="listsi">
							<img :src="item.pic" alt="">
							<view class="right_listsi">
								<p> {{item.prodName}}</p>
								<span>{{item.brief}}</span>
							</view>
						</view>
					</view>
				</scroll-view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		categoryId
	} from '@/api/classiyf.js'
	export default {
		data() {
			return {
				tabList: [{
						id: 85,
						namelist: '手机数码'
					},
					{
						id: 87,
						namelist: '美妆护肤'
					},
					{
						id: 88,
						namelist: '运动服饰'
					},
					{
						id: 95,
						namelist: '美味零食'
					}
				],
				isActive: 0,
				list: [],
				listone: [],
				listhess: [],
				listsi: []
			};
		},
		async created() {
			let res = await categoryId({
				url: 'prod/pageProd?categoryId=85',
			})
			this.list = res;

			let reslist = await categoryId({
				url: 'prod/pageProd?categoryId=87'
			})
			this.listone = reslist;

			let reshess = await categoryId({
				url: 'prod/pageProd?categoryId=88'
			})
			this.listhess = reshess;

			let resi = await categoryId({
				url: 'prod/pageProd?categoryId=95'
			})
			this.listsi = resi;
		},
		methods: {
			chenked(index) {
				this.isActive = index;
			}
		}
	}
</script>

<style lang="scss">
	.view-box {
		width: 100%;
		height: 100%;

		.con_top {
			width: 90%;
			height: 60rpx;
			text-align: center;
			border-radius: 15px;
			border: 1px solid #fff;
			margin: 0 auto;
			line-height: 40px;
			background-color: #eee;

			.search_img {
				width: 30rpx;
				height: 30rpx;
				margin-right: 20rpx;
			}

		}


		.tab-box {
			width: 100%;
			height: 587px;
			position: relative;
			top: 5px;

			.tab-left {
				width: 150px;
				height: 100%;
				position: absolute;
				background-color: #eee;

				.tab-left-yas {
					width: 100%;
					height: 40px;
					text-align: center;
					line-height: 40px;
				}
			}

			.tab-right {
				width: calc(100% - 150px);
				height: 100%;
				position: absolute;
				left: 155px;
				overflow-y: scroll;

				img {
					width: 35%;
					height: 70px;
					float: left;
				}
			}
		}
	}

	.active {
		color: red;
		border-left: 5px solid red;
		background-color: #fff;
	}

	.listsi {
		width: 100%;
		height: 90px;
		box-shadow: 0 0 1px #ccc;
		line-height: 30px;


		img {
			margin-top: 10px;
		}

		.right_listsi {
			margin-top: 10px;
			width: 300px;
			position: absolute;
			left: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			span {
				font-size: 23rpx;
				color: #757474;
			}
		}
	}

	.right_list,
	.right_listone,
	.right_listhess {
		width: 260px;
		position: relative;

		p {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		span {
			position: absolute;
			width: 150px;
			font-size: 13px;
			color: #757474;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
</style>
