<template>
	<view>
		<!-- //购物车没商品出现的页面 -->
		<view v-if="total==0">
			<view class="containershop">
				<view class="img">
					<image src='../../static/basket.png'></image>
				</view>
				<view class='txt'>您还没有添加任何商品哟~</view>
			</view>
		</view>
		<!-- //购物车加购商品的东西 -->
		<view v-if="total>0">
			<!-- //通过循环商品呈现出每个商品 -->
			<view class="goods-detail" v-for="(item,index) in goods" :key="index">
				<view class="detail-left">
					<view class="goods-left">
						<!-- //商品的选择框 -->
						<checkbox-group @change="selected(item)">
							<label>
								<checkbox class="selected" color="#555555" :checked="checked" /><text></text>
							</label>
						</checkbox-group>

						<image :src="item.pic" mode="widthFix" style="width: 150rpx;"></image>
					</view>
					<view class="size">
						<text style="font-size: 25rpx;">尺码：{{item.prodName}}</text>
						<view class="size-botton">
							<text class="goods-price">￥{{item.price}}/件</text>
							<view class="detail-right">
								<text class="subtract" @click="reduce(item)">-</text>
								<text class="num">{{item.prodCount}}</text>
								<text @click="add(item)" class="add">+</text>
							</view>
						</view>
					</view>
				</view>
			</view>
			<view class="cart-footer" v-if="total>0">
				<!-- <view class="btn all" @change="selectgoods()">
					<label>
						<checkbox :checked="allchecked" />全选
					</label>
				</view> -->
				<checkbox-group class="btn all" @change="selectgoods()">
					<label>
						<checkbox :checked="allchecked" />全选
					</label>
				</checkbox-group>
				<view class="btn del" @click="binddelete()"><text>删除</text></view>
				<view class="btn total">
					<view class="total-msg">合计:￥<span>{{this.goods.totalMoney}}</span> </view>
				</view>
				<view class="btn settle"><text @click="settlement">结算</text></view>
			</view>
		</view>
	</view>
</template>
<script>
	import {
		getCart,
		getProdCount,
		getdeleteItem,
		getChageItem,
		gettotalPay
	} from "@/api/shopcar.js";
	import TotalMixins from '@/mixins/index.js'
	export default {
		mixins: [TotalMixins],
		data() {
			return {
				total: 0,
				goods: [],
				allchecked: true,
				flag: true,
				deleteId: [], //删除的购物车id
				price:0
			}
		},
		components: {
			// shopnull,
			// shopcar
		},
		onShow() {
			var pages = getCurrentPages();	// 获取当前页面栈
			var curPage = pages[pages.length - 1];	// 当前页面
			if(curPage.data.init){
				curPage.data.init = false;
				this.goods()    // A页面 method中的方法，用来刷新页面A
			}
		},
		mounted() {
			// this.shoptotal()
			// this.shopcar();
		},
		async created() {
			let res = await getCart({});
			console.log(res,"44444444444444444444444");
			// console.log(res[0].shopCartItemDiscounts[0].shopCartItems, "------------------------");
			this.goods = res[0].shopCartItemDiscounts[0].shopCartItems;
			// console.log(this.goods, "******************************");
			// let resnum = await getProdCount({})
			let totals = await getProdCount();
			// console.log(totals, "+++++++++++++++++++++++");
			this.total = totals;

		},
		methods: {
			// 单选的全选
			selected(item) {
				item.flag = !item.flag
				if (!item.flag) {
					this.allchecked = false
				} else {
					const a = this.goods.every((item) => {
						return item.flag === true
					})
					if (a) {
						this.allchecked = true
					} else {
						this.allchecked = false
					}
				}
				this.deleteId = []
				this.goods.map((item, index) => {
					if (item.flag) {
						this.deleteId.push(item.basketId)
					}
				})
				
				const delid = this.deleteId.slice()
				let ress = gettotalPay(
					delid
				)
				
			},
			// 全选
			selectgoods() {
				this.allchecked = !this.allchecked
				if (this.allchecked) {
					this.goods.map(item => {
						this.flag = true
						item.flag = true
					})
				} else {
					this.flag = false
					this.goods.map(item => {
						item.flag = false
					})
				}
				// gettotalPay
				this.deleteId = [];
				this.goods.map((item, index) => {
					if (this.allchecked) {
						this.deleteId.push(item.basketId)
					}
				
				})
				const delid = this.deleteId.slice()
				gettotalPay(
					delid
				)
			},
			// ++++
			add(item) {
				let prodCount = item.prodCount
				item.prodCount = prodCount + 1
				let res =  getChageItem({
					prodId: item.prodId,
					skuId:item.skuId,
					basketId: 0,
					count:prodCount,
					shopId: 1,
				})
			},
			// ----
			reduce(item) {
				let prodCount = item.prodCount
				if (prodCount > 1) {
					prodCount -= 1
				} else if (prodCount = 1) {
					uni.showToast({
						title: "该宝贝不能减少了哟~"
					})
				}
				item.prodCount = prodCount
				let res =  getChageItem({
					prodId: item.prodId,
					skuId:item.skuId,
					basketId: 0,
					count:prodCount,
					shopId: 1,
				})
			},
			// 结算
			settlement() {
				console.log(this.goods, "1111111111111111111111111");
				
				uni.navigateTo({
					url: "/pages/buyImmediately/buyImmediatelys?reslist=" + encodeURIComponent(JSON.stringify(this
						.goods)) //+ categoryId
				})
			},
			//购物车删除
			async binddelete() {
				var that = this;
				that.deleteId = [];
				that.goods.map((item, index) => {
					if (item.flag) {
						that.deleteId.push(item.basketId)
					}

				})
				if (that.deleteId.length == 0) {
					uni.showToast({
						title: '请选择要删除的商品',
						icon: 'none'
					})
				} else {
					uni.showModal({
						title: '提示',
						content: '确实要删除商品吗？',
						success: function(res) {
							if (res.confirm) {
// <<<<<<< HEAD
								console.log('用户点击确定');
								uni.request({
									url: api.api.ShopCarDelete,

									data: {
										shopcar_id: that.deleteId.join(',')
									},
									success: function(res) {
										console.log(res)
										that.allselect = false;
										for (let i = 0; i < that.deleteId.length; i++) {
											for (let j = 0; j < that.goods.length; i++) {

												if (that.deleteId[i] == that.goods[j].id) {
													console.log(j + 'aaaa')
													that.goods.splice(j, 1)
													that.goods = that.goods;
												}
											}
										}
										return
									}
								})
							} else if (res.cancel) {
								console.log('用户点击取消');
							}
						}
					})
				}
			},


			//购物车列表数据
			// async shopcar() {
			// 	const res = await getCart();
			// 	this.goods = res[0];
			// },
			//商品数量接口
			// async shoptotal() {
			// 	const res = await getProdCount()
			// 	console.log(res, "-------------");
			// 	this.total = res
			// 	console.log(res);
			// }
// =======
			// 					console.log(that.deleteId.slice(),'用户点击确定')
			// 					// uni.request({
			// 						const delid = that.deleteId.slice()
			// 						getdeleteItem(
			// 							delid
			// 						)
			// 						// success: function(res) {
			// 						// 	console.log(res)
			// 						// 	that.allselect = false;
			// 						// 	for (let i = 0; i < that.deleteId.length; i++) {
			// 						// 		for (let j = 0; j < that.goods.length; i++) {

			// 						// 			if (that.deleteId[i] == that.goods[j].id) {
			// 						// 				console.log(j + 'aaaa')
			// 						// 				that.goods.splice(j, 1)
			// 						// 				that.goods = that.goods;
			// 						// 			}
			// 						// 		}
			// 						// 	}
			// 						// 	return
			// 						// }
			// 					// })
			// 				} else if (res.cancel) {
			// 					console.log('用户点击取消');
			// 				}


			// 			}
			// 		})
			// 	}

			// },
		},
		computed: {
			// 购买商品的数量totalNum()
			totalNum() {
				let totalNum = 0;
				this.goods.map(item => {
					item.flag ? totalNum += item.prodCount : totalNum += 0
				})
				return totalNum
			},
			// 总价格
			totalPrice() {
				let totalPrice = 0;
				this.goods.forEach(item => {
					item.flag ? totalPrice += item.prodCount * item.price : totalPrice += 0
				})
				return totalPrice
			},

		}
	}
</script>
<style lang="scss">
	.goods {
		line-height: 80rpx;
		background-color: #FFFFFF;

		&-detail {
			display: flex;
			padding: 30rpx 15rpx 30rpx 30rpx;
			background-color: #fff;
			justify-content: space-between;
			border-bottom: 5rpx solid #F1F1F1;
			align-items: center;
			overflow-y: scroll;

			.detail-left {
				width: 100%;
				display: flex;

				.goods-left {

					display: flex;
					align-items: center;
				}
// <<<<<<< HEAD
			}

			.size {

				display: flex;
				justify-content: space-around;
				flex-direction: column;
				margin-left: 30rpx;

				.goods-price {
					font-size: 25rpx;
					color: #F44545;

				}

				.size-botton {
					display: flex;
					justify-content: space-between;

					.detail-right {
						display: flex;

						text {
							width: 50rpx;
							line-height: 50rpx;
							text-align: center;
							display: inline-block;
							background-color: #F7F7F7;
							margin-right: 10rpx;
						}

						.add {
							color: #FA4305;
							border-radius: 10rpx 30rpx 30rpx 10rpx;
							margin-right: 20rpx;
						}

						.subtract {
							border-radius: 30rpx 10rpx 10rpx 30rpx;
						}
					}
				}

			}


// =======
// 				.size {
// 					width: 100%;
// 					display: flex;
// 					justify-content: space-around;
// 					flex-direction: column;
// 					margin-left: 30rpx;
					
// 					.size-botton {
// 						width: 100%;
// 						display: flex;
// 						justify-content: space-between;
// 						.goods-price {
// 							font-size: 25rpx;
// 							color: #F44545;
// 						}
// 						.detail-right {
// 							display: flex;
// 							text {
// 								width: 50rpx;
// 								line-height: 50rpx;
// 								text-align: center;
// 								display: inline-block;
// 								background-color: #F7F7F7;
// 								margin-right: 10rpx;
// 							}
// 							.add {
// 								color: #FA4305;
// 								border-radius: 10rpx 30rpx 30rpx 10rpx;
// 								margin-right: 20rpx;
// 							}
// 							.subtract {
// 								border-radius: 30rpx 10rpx 10rpx 30rpx;
// 							}
// 						}
// 					}
// 				}
// 			}
// >>>>>>> 0fbbf41d633349cc63f488456853e6a2e6a941c6
		}
	}

	.containershop {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		/* flex-wrap: wrap; */
		/* justify-content: space-around; */
		flex-direction: column;
		margin-top: 4rem;
	}

	.img image {
		width: 3rem;
		height: 3rem;
	}

	.end {
		width: 100%;
		height: 90rpx;
		background-color: #fff;
		position: fixed;
		bottom: 100rpx;
		left: 0;
		display: flex;
		align-items: center;

		&-left {
			width: 70%;
			display: flex;
			justify-content: space-between;
			padding: 0 30rpx;

			.end-flex {
				display: flex;
				align-items: center;
			}
		}

		&-right {
			width: 30%;
			line-height: 90rpx;
			background-color: #F44545;
			text-align: center;
			color: #fff;
		}
	}

	.cart-footer {
		position: fixed;
		bottom: 0rpx;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: row nowrap;
		height: 98rpx;
		border-top: 2rpx solid #f4f4f4;
		z-index: 999;
	}

	.cart-footer .btn {
		position: relative;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		width: 0;
		background-color: #fafafa;
		background: rgba(255, 255, 255, 0.95);
		font-size: 28rpx;
	}

	.total-msg {
		span {
			color: #eb2444;
		}
	}

	.cart-footer .btn.total {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
	}

	.cart-footer .btn.del {
		color: #eb2444;
		width: 70rpx;
		font-size: 22rpx;
		text-align: left;
		display: block;
		line-height: 102rpx;
	}

	.cart-footer .btn.all {
		width: 150rpx;
		font-size: 26rpx;
	}

	.cart-footer .btn.all label {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}

	.cart-footer .btn.total {
		width: 300rpx;
	}

	.cart-footer .btn.total .price {
		color: #eb2444;
		font-size: 30rpx;
	}

	.cart-footer .btn.settle {
		width: 200rpx;
		background: #eb2444;
		color: #fff;
	}
</style>
