<template>
	<view class="view-box">
		<view class="heotop">
			<h3 style="color:#f43530;">支付失败</h3>
		</view>
		<view class="view-box-center">
			<text>请在<text style="color:#f43530;">30分钟</text>内完成付款</text><br>
			<text>否则订单会被系统取消</text>
		</view>
		<button>查看订单</button>
		<button>重新支付</button>
	</view>
</template>

<script>
</script>

<style>
	.view-box {
		width: 100%;
		height: 200px;
		position: relative;
		top: 23%;
	}

	.heotop {
		width: 100%;
		height: 30px;
		text-align: center;
	}

	.view-box-center {
		text-align: center;
		font-size: 14px;
	}

	button {
		width: 90px;
		height: 35px;
		font-size: 13px;
		display: inline-block;
		text-align: center;
		margin-left: 16%;
		margin-top: 10px;
	}

	button:nth-of-type(1) {
		background-color: #19be6b;
		color: #fff;
	}

	button:nth-of-type(2) {
		border: 2rpx solid #f90;
		color: #f90;
		background: #fff;
	}
</style>
