<template>
	<view class="container">
		<view class="userInfo">
			<view class="user">
				<view v-if="isLogin" class="userinfo-avatar">
					<image src="" @click="goLogin"></image>
					<text>{{userName}}</text>
				</view>
				<view v-else class="userinfo-avatar">
					<image :src="userInfo.avatarUrl" @click="goLogin"></image>
					<text>{{userInfo.nickName}}</text>
				</view>
			</view>
			<view class="info">
				绑定手机号后可查看订单和领取优惠券，<text class="redText" @click="gotoPhone">去绑定</text>
			</view>
		</view>
		<view class="order">
			<view class="orderTop">
				<text class="myOrder">我的订单</text>
				<text class="lookAll" @click="()=>goOrderList(0)">查看全部 ></text>
			</view>
			<view class="orderCon">
				<view v-for="(item,index) in ordercon" class="item" :key="index" @click="()=>goOrderList(index+1)">
					<img :src="item.url" alt="">
					<text>{{item.title}}</text>
				</view>
			</view>
			<view class="orderMy">
				<view v-for="(item,index) in myOther" class="item" :key="index" @click="()=>goCollect(item)">
					<img :src="item.url" alt="">
					<text>{{item.title}}</text>
				</view>
			</view>
		</view>
		<view class="others">
			<view class="otherItem" @click="toAddress">
				<view>
					<img src="../../static/images/icon/myAddr.png" alt="" />
					收货地址
				</view>
				<image src="../../static/images/icon/more.png" alt="" class="imgadd"></image>
			</view>
		</view>
		<view>
			<button  type="warn"  @click="toMap">地图</button>
			<button type="primary" open-type="contact">客服聊天</button>
			<!-- <button type="default"></button> -->
		</view>
	</view>
</template>

<script>
	import {
		mapState
	} from "vuex"
	import TotalMixins from '@/mixins/index.js'
	export default {
		mixins: [TotalMixins],
		computed: {
			...mapState("user", ["token", "userInfo"])
		},
		data() {
			return {
				userName: "请先登录",
				users: {},
				isLogin: uni.getStorageSync("token") ? false : true,
				ordercon: [{
						url: "../../static/images/icon/toPay.png",
						title: "待支付"
					},
					{
						url: "../../static/images/icon/toDelivery.png",
						title: "待发货"
					},
					{
						url: "../../static/images/icon/toTake.png",
						title: "待收货"
					},
					{
						url: "../../static/images/icon/toComment.png",
						title: "已完成"
					}
				],
				myOther: [{
						url: "../../static/c1.png",
						path: "../collect/collect",
						title: "我的收藏"
					},
					{
						url: "../../static/c1.png",
						path: "",
						title: "我的消息"
					},
					{
						url: "../../static/c1.png",
						path: "../footprint/footprint",
						title: "我的足迹"
					},
					{
						url: "../../static/c1.png",
						path: "",
						title: "我的积分"
					}
				]
			};
		},
		mounted() {
			const that = this
			uni.getStorage({
				key: 'userInfo',
				success: function(res) {
					// console.log(JSON.parse(res.data))
					let data = res.data
					that.users = JSON.parse(data)
					// console.log(that.users);
				}
			})
		},
		methods: {
			// 绑定手机号
			gotoPhone() {
				uni.navigateTo({
					url: "/searchpkg/phone/phone"
				})
			},
			// 登录
			goLogin() {
				uni.redirectTo({
					url: "../login/login"
				})
			},
			// 跳转订单列表
			goOrderList(val) {
				uni.navigateTo({
					url: "/pages/orderList/orderList?active=" + val
				})
			},
			// 跳转我的收藏
			goCollect(item) {
				if (item.path) {
					uni.navigateTo({
						url: item.path
					})
				}
			},
			// 跳转地址列表
			toAddress() {
				console.log(44);
				uni.navigateTo({
					url: "../../pages/address/address"
				})
			},
			// 跳转地图
			toMap() {
				uni.navigateTo({
					url: "../gaodeMap/gaodeMap"
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: #eee;

		.userInfo {
			.user {
				width: 100%;
				text-align: center;
				align-items: center;
				background-color: #fff;

				.userinfo-avatar {
					text-align: center;
					margin-left: 50%;
					transform: translateX(-50%);
					display: flex;
					flex-direction: column;

					image {
						width: 70px;
						height: 70px;
						border-radius: 50%;
						overflow: hidden;
						margin: 10px 0;
						transform: translateX(50%);
						background-color: #ccc;
					}

				}

			}

			.info {
				width: 100%;
				border-top: 1px solid #eee;
				font-size: 30rpx;
				line-height: 30px;
				padding-left: 10px;
				margin-bottom: 10px;
				background-color: #fff;

				.redText {
					color: red;
				}
			}
		}

		.order {
			margin-bottom: 10px;

			.orderTop {
				background-color: #fff;
				font-size: 30rpx;
				display: flex;
				padding: 10px;
				justify-content: space-between;
				padding: 10px;

				.myOrder {
					font-weight: bolder;
				}
			}

			.orderCon {
				display: flex;
				justify-content: space-around;
				background-color: #fff;
				margin-bottom: 10px;

				.item {
					display: flex;
					font-size: 30rpx;
					padding: 10px;
					text-align: center;
					flex-direction: column;

					img {
						width: 30px;
						height: 30px;
					}
				}
			}

			.orderMy {
				display: flex;
				justify-content: space-around;
				background-color: #fff;
				text-align: center;

				.item {
					display: flex;
					font-size: 30rpx;
					padding: 10px;
					text-align: center;
					flex-direction: column;

					img {
						width: 30px;
						height: 30px;
					}
				}
			}

		}

		.others {
			background-color: #fff;
			padding: 0 10px;

			.otherItem {
				width: 100%;
				height: 50px;
				align-items: center;
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #eee;

				img {
					width: 50rpx;
					height: 50rpx;
					margin-right: 10px;
					vertical-align: middle;
				}

				.imgadd {
					display: inline-block;
					color: #000;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
</style>
