<template>
 	<view>
 		<view class="page-body">
 			<view class="page-section page-section-gap">
 				<map id="map" @markertap="bindTap" @controltap="bindControltap" :controls="controls"
 					style="width: 100%;height: 100vh;" :markers="markers" :scale="15" :latitude="latitude"
 					:longitude="longitude">
 					<cover-view @click="startNav">开始导航</cover-view>
 				</map>
 			</view>
 		</view>
 	</view>
 </template>
  
 <script>
 	import { mapTool } from '../../libs/amap-wx.130.js'
 	export default {
 		data() {
 			return {
 				subNVue: '',
 				subNVueShowDetail: '',
 				msg: '',
  
 				id: 0, // 使用 marker点击事件 需要填写id
 				title: 'map',
 				// longitude: 116.39742,  // 默认的是北京经纬度
 				// latitude: 39.909,
 				longitude:106.220885,  
 				latitude: 29.590185,
 				controls: [],
 				markers: [
 					{
 						id: 'gyqy',
 						latitude: '29.595587852178966',
 						longitude: '106.22169495575275',
 						title: '企业',
 						iconPath: 'logo.png'
 					}
 				]
 			}
  
 		},
 		
 		onLoad() {
 			this.getDeviceLocation()
 			
 		},
 		onReady() {
 			this.createMap() //地图创建在页面中需要在onReady调用
 		},
 		methods: {
 			// 创建地图
 			createMap() {
 				let mapContext = uni.createMapContext('map')
 				mapContext.$getAppMap().showUserLocation() //显示用户位置
 				let screenWidth =  uni.getSystemInfoSync().screenWidth
 				var coefficient=screenWidth/750
 				this.controls=[
 					{
 						id:"mapType",
 						controlId:"mapType",
 						position:{
 							width: 72*coefficient,
 							height: 72*coefficient,
 							left: 658*coefficient,
 							top:110*coefficient
 						},
 						// iconPath:"./logo.png",
 						clickable:true
 					}
 				]
 				
 			},
 			// 获取设备位置
 			getDeviceLocation() {
				console.log("获取设备位置");
 				plus.geolocation.getCurrentPosition(function(p){
 					let longitude = p.coords.longitude 
 					let latitude = p.coords.latitude
 					console.log(`经度:${longitude} 纬度:${latitude}`)
 					this.longitude = longitude
 					this.latitude = latitude
 					}, function(e){
 						console.log('Geolocation error: ' + e);
 					},{"enableHighAccuracy":"true", // 是否高精确度获取位置信息
 						"provider": "system"  // 优先使用的定位模块
 					});
 			},
 			startNav() {
 				// 这里需要使用的时wgs8坐标系即GPS定位 设置目标位置坐标点和开始位置坐标点
 				var wgs84togcj02=mapTool.wgs84togcj02(this.longitude,this.latitude)
 				// latitude: "29.59827298936982" ; longitude: "106.21791710134177"
 				var dst = new plus.maps.Point(106.21791710134177,29.59827298936982);// 目的点  
 				var src = new plus.maps.Point(wgs84togcj02[0],wgs84togcj02[1]); // 开始点
 				// 调用系统地图显示 
 				plus.maps.openSysMap( dst, "测试导航到你想去的地方", src );
 			},
 			bindControltap(e) {
 				console.log(e)
 			},
 			bindTap(e) {
 				console.log(e)
 			},
 		}
 	}
 </script>
  
 <style>
  
 </style>
  -->
<!-- 
  <template>
  	<view>
  		<view class="page-body">
  			<view class="page-section page-section-gap">
  				<map style="width: 100%; height: 500px;" :latitude="latitude" :longitude="longitude" :markers="covers">
  				</map>
  			</view>
  		</view>
  	</view>
  </template>
  <script>
  export default {
  	data() {
  		return {
  			id:0, // 使用 marker点击事件 需要填写id
  			title: 'map',
  			latitude: 39.909,//中心纬度
  			longitude: 116.39742,//中心经度
  			covers: [{
  				latitude: 39.909,
  				longitude: 116.39742,
  				iconPath: '../../../static/location.png'
  			}, {
  				latitude: 39.90,
  				longitude: 116.39,
  				iconPath: '../../../static/location.png'
  			}]
  		}
  	},
  	methods: {
  
  	}
  }
  </script>

<!-- 
<view class="map_container">
	<map class="map" id="map" :longitude="longitude" :latitude="latitude" scale="14" show-location="true"
		:markers="markers" bindmarkertap="makertap"></map>
</view>
<view class="map_text">
	<text class="h1">{{textData.name}}</text>
	<text>{{textData.desc}}</text>
</view>
<script>
	import amapFile from "../../libs/amap-wx.130.js";
	export default {
		data() {
			return {
				markers: [],
				latitude: '',
				longitude: '',
				textData: {}
			}
		},
		makertap: function(e) {
			var id = e.markerId;
			var that = this;
			that.showMarkerInfo(markersData, id);
			that.changeMarkerColor(markersData, id);
		},
		onLoad: function() {
			var that = this;
			var myAmapFun = new amapFile.AMapWX({
				key: '您的key'
			});
			myAmapFun.getPoiAround({
				iconPathSelected: '选中 marker 图标的相对路径', //如：..­/..­/img/marker_checked.png
				iconPath: '未选中 marker 图标的相对路径', //如：..­/..­/img/marker.png
				success: function(data) {
					markersData = data.markers;
					that.setData({
						markers: markersData
					});
					that.setData({
						latitude: markersData[0].latitude
					});
					that.setData({
						longitude: markersData[0].longitude
					});
					that.showMarkerInfo(markersData, 0);
				},
				fail: function(info) {
					wx.showModal({
						title: info.errMsg
					})
				}
			})
		},
		showMarkerInfo: function(data, i) {
			var that = this;
			that.setData({
				textData: {
					name: data[i].name,
					desc: data[i].address
				}
			});
		},
		changeMarkerColor: function(data, i) {
			var that = this;
			var markers = [];
			for (var j = 0; j < data.length; j++) {
				if (j == i) {
					data[j].iconPath = "选中 marker 图标的相对路径"; //如：..­/..­/img/marker_checked.png
				} else {
					data[j].iconPath = "未选中 marker 图标的相对路径"; //如：..­/..­/img/marker.png
				}
				markers.push(data[j]);
			}
			that.setData({
				markers: markers
			});
		}

	}
</script>
 -->