<template>
	<view>

	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		},
		created() {
			const key = 'X7OBZ-IIDC2-SONUF-CNBVJ-RFQTF-DBF5M'; //使用在腾讯位置服务申请的key
			const referer = 'test3'; //调用插件的app的名称
			const location = JSON.stringify({
				latitude: 39.89631551,
				longitude: 116.323459711
			});
			const category = '生活服务,娱乐休闲';

			wx.navigateTo({
				url: 'plugin://chooseLocation/index?key=' + key + '&referer=' + referer + '&location=' + location +
					'&category=' + category
			})
		}
	}
</script>

<style lang="scss">

</style>
