<template>
	<view class="detail">
		<view class="uni-margin-wrap">
			<swiper class="swiper-box" @change="change" :current="swiperDotIndex">
				<swiper-item v-for="(item,index) in imgs" :key="index">
					<view class="swiper-item uni-bg-red">
						<img class="imgss" :src="item" alt="" srcset="" lazy-load='true'>
					</view>
				</swiper-item>
			</swiper>
		</view>
		<view class="tradeName">
			<div>
				{{reslist.prodName}}
			</div>
			<dl>
				<dt @click="addOrCancel(reslist.prodId)">
					<image v-if="!isCollection" src="../../static/images/icon/prod-col.png" class="images"></image>
					<image v-else src="../../static/images/icon/prod-col-red.png" class="images">
					</image>
				</dt>
				<dd>收藏</dd>
			</dl>
		</view>
		<view class="yummy">{{reslist.brief}}
		</view>
		<!-- 单价 -->
		<view class="price"><span>￥</span>{{reslist.price}}<span>.00</span>
		</view>
		<!-- sku -->
		<view class="sku" @click="showSelect">
			<div>
				<span>已选</span>
				<p>{{count}}件</p>
			</div>
			<span>
				<uni-icons type="more-filled" size="20" style="margin-right: 15px;"></uni-icons>
			</span>
		</view>
		<!-- 已选弹出框 -->
		<van-popup class="tan" :show='threeshow' closeable position="bottom" custom-style="height: 80%"
			@close="onClose">
			<view class="data_one">
				<dl>
					<dt>
						<image :src='imgs'></image>
					</dt>
					<dd>
						<p>￥{{reslist.price}}</p>
						<p>
							<span>已选</span>
							<span>{{skuList[0].skuName}},</span>
							<span>{{count}}件</span>
						</p>
					</dd>
				</dl>
			</view>
			<!-- <view class="data_two" v-if="skudata.length">
				<view v-for="item,index in skudata" :key="index">
					<h4>{{item.title}}</h4>
					<view>
						<span v-for="ite,ind in item.child" :key="ind" :class="{
												active: isactiveitem(item,ite),
												on: isDisabledClass(item,ite)
												}" @click="handle(item,ite)">{{ite}}</span>
					</view>
				</view>
			</view> -->
			<view class="data_three">
				<p>数量</p>
				<view class="">
					<button @click="reditem">-</button>
					<text>{{count}}</text>
					<button @click="additem">+</button>
				</view>
			</view>
			<van-goods-action class="data_froe">
				<view @click="addshop" style="background: #FF9018 ;">加入购物车</view>
				<view @click="Buynow" style="background: #FD5B34 ;">立即购买</view>
			</van-goods-action>
		</van-popup>
		<view>
			<!-- 评论 -->
			<view class="comment" @click="showComment">
				<div>
					<span>评论</span>
					<p>好评0%</p>
				</div>
				<div style="margin-right: 15px;">
					<p>共<span>0</span>条</p>
					<uni-icons type="right" size="20"></uni-icons>
				</div>
			</view>
			<!-- 评价弹出层 -->
			<van-popup :show="fourshow" closeable position="bottom" custom-style="height: 100%" @close="onClose">
				<view class="show_four_box">
					<view class="onebox">
						<p>商品评价</p>
						<p><span>好评度</span><span>100%</span></p>
					</view>
					<view class="twobox">
						<span v-for="item,index in arr" :key="index" @click="records(index)"
							:class="ind===index?'on':''">{{item}}(0)</span>
					</view>
				</view>
			</van-popup>
			<!-- 评论筛选 -->
			<view class="commentTab">
				<p @click="showComment">全部(<span>0</span>)</p>
				<p @click="showComment">好评(<span>0</span>)</p>
				<p @click="showComment">中评(<span>0</span>)</p>
				<p @click="showComment">差评(<span>0</span>)</p>
				<p @click="showComment">有图(<span>0</span>)</p>
			</view>

			<!-- 底部图片 -->
			<view class="rich_text">
				<view class="" v-for="(item,index) in imgs" :key="index">
					<img :src="item" alt="">
				</view>

			</view>

			<view class="footer">

			</view>




			{{total}}
			<!-- 对话框 -->
			<uni-popup ref="alertDialog" type="dialog">
				<uni-popup-dialog cancelText="返回" confirmText="返回" title="模拟进行客服对话" content="开发者工具暂不支持打开客服会话,请使用真机调试"
					@close="dialogClose"></uni-popup-dialog>
			</uni-popup>

			<view class="goods-carts">
				<uni-goods-nav :options="options" :fill="true" :button-group="buttonGroup" @click="onClick"
					@buttonClick="buttonClick" />
			</view>
		</view>
		<!-- 抽屉 -->

	</view>

</template>

<script>
	import {
		mapState,
		mapMutations,
	} from 'vuex'
	import {
		prodInfo,
		addcollect,
		Isaddcollect
	} from "@/api/prod.js"
	import {
		getChageItem
	} from "@/api/shopcar.js"
	import {
		buyImmediately
	} from "@/api/modules/buyImmediately.js"
	export default {
		components: {},
		data() {
			return {
				type: 'center',
				// msgType: 'success',
				messageText: '这是一条成功提示',
				value: '',
				// item:{},
				prodId: "",
				reslist: {},
				imgs: [],
				content: [],
				skuList: [],
				modeIndex: -1,
				styleIndex: -1,
				current: 0,
				mode: 'default',
				dotsStyles: {},
				swiperDotIndex: 0,
				isCollection: false, //收藏
				threeshow: false, //已选弹出框,
				fourshow: false, //评论弹出框
				count: 1,
				arr: [
					"全部", "好评", "中评", "差评", "有图"
				],
				ind: 0,
				options: [{
					icon: 'chat',
					text: '客服'
				}, {
					icon: 'cart',
					text: '购物车',
					info: 0
				}],
				buttonGroup: [{
						text: '加入购物车',
						backgroundColor: 'linear-gradient(90deg, #FFCD1E, #FF8A18)',
						color: '#fff'
					},
					{
						text: '立即购买',
						backgroundColor: 'linear-gradient(90deg, #FE6035, #EF1224)',
						color: '#fff'
					}
				],
				customButtonGroup: [{
						text: '加入购物车',
						backgroundColor: 'linear-gradient(90deg, #1E83FF, #0053B8)',
						color: '#fff'
					},
					{
						text: '立即购买',
						backgroundColor: 'linear-gradient(90deg, #60F3FF, #088FEB)',
						color: '#fff'
					}
				],
				customButtonGroup1: [{
					text: '立即购买',
					backgroundColor: 'linear-gradient(90deg, #FE6035, #EF1224)',
					color: '#fff'
				}]
			}

		},
		computed: { //...展开运算符 把...后边的这个对象循环遍历放在这个新的对象里面
			...mapState('car', ['total']),

		},
		watch: {
			total: {
				handler: function(newval, oldVal) {
					// console.log(newval,oldVal,'*****')
					this.options[1].info = newval
				},
				immediate: true
			}
		},
		methods: {

			dialogToggle(type) {
				this.msgType = type
				this.$refs.alertDialog.open()
			},
			change(e) {
				this.current = e.detail.current
			},
			dialogClose() {
				console.log('点击关闭')
				console.log(1111);
			},
			...mapMutations('car', ['changeTotal']),
			onClick(e) {
				if (e.index == 0) {
					// @click="dialogToggle('success')
					this.dialogToggle('success')

				}
				if (e.index == 1) { //添加购物车
					// console.log(111111);
					uni.switchTab({
						url: '/pages/shop/shop'
					});
				}
			},
			buttonClick(e) {
				if (e.index == 0) { //添加购物车
					// this.changeTotal()
					this.showSelect()
				}
				if (e.index == 1) { //点击立即购买
					console.log(this.reslist, "this.reslist");
					uni.navigateTo({
						url: "/pages/buyImmediately/buyImmediately?reslist=" + encodeURIComponent(JSON.stringify(
							this.reslist)) //+ categoryId
					})
				}
			},
			// 加入购物车
			async addshop() {
				console.log(this.reslist.skuList[0].skuId);

				// getChageItem
				// this.isCollection = !this.isCollection
				let res = await getChageItem({
					prodId: this.reslist.prodId,
					skuId: this.reslist.skuList[0].skuId,
					basketId: 0,
					count: 1,
					shopId: 1,
				})
			},
			// 立即购买
			Buynow() {
				console.log(1111111);
				uni.navigateTo({
					url: "/pages/buyImmediately/buyImmediately?reslist=" + encodeURIComponent(JSON.stringify(this
						.reslist)) //+ categoryId
				})
			},
			// 收藏
			async addOrCancel(id) {
				this.isCollection = !this.isCollection
				let res = await addcollect({
					params: id
				})
				// console.log(res,'res11111111111111111111111111111111111')
			},
			//已选 显示弹出框
			showSelect() {
				this.threeshow = true
			},
			//关闭弹出框
			onClose() {
				this.threeshow = false
				this.fourshow = false
			},
			showComment() {
				this.fourshow = true
			},
			//count 减
			reditem() {
				this.count = this.count - 1;
				if (this.count < 0) {
					this.count = 0
				}
			},
			// /count 加
			additem() {
				this.count = this.count + 1;
			},
			//评价高亮
			records(index) {
				this.ind = index
				// this.getcomm(index)
			},

			//是否已被收藏 
			getCollection() {
				uni.showLoading()
				Isaddcollect({
					prodId: this.prodId
				}).then(res => {
					// console.log(res,'ressss收藏')//true 表示已被收藏 false 表示未收藏
					this.isCollection = res
				})
			},
		},
		async onLoad(options) {
			this.prodId = options.prodId
			// console.log(options.prodId, "00000000000");
			let res = await prodInfo({
				prodId: this.prodId
			})
			this.reslist = res
			this.imgs = res.imgs.split(",")
			// console.log(this.imgs, 'this.imgs')
			// this.content = formaHtml(res.content)
			this.skuList = res.skuList
			// console.log(this.reslist,'reslist...........')
			// console.log(this.reslist, "**************--------------------")
			// 查看该商品是否已被收藏
			this.getCollection()
		}


	}
</script>
<style lang="scss">
	.detail {
		width: 100%;
		// height: 100%;
	}

	// 轮播图
	.swiper-box {
		height: 750rpx;
	}

	.swiper-item {
		/* #ifndef APP-NVUE */
		/* #endif */
		height: 750rpx;
		color: #fff;
	}

	.swiper-item {
		background-color: #cee1fd;
	}

	.imgss {
		width: 100%;
		height: 100%;
	}

	// 商品名称
	.tradeName {

		padding-top: 15px;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: #fff;

		div {
			width: 73%;
			height: 50px;
			font-size: 15px;
		}

		dl {
			dd {
				text-align: center;
				font-size: 10px;
			}
		}
	}

	.yummy {
		width: 100%;
		height: 20px;
		font-size: 12px;
		padding-left: 22px;
		color: #999;
		background: #fff;
	}

	.price {
		width: 100%;
		height: 40px;
		line-height: 40px;
		padding-left: 22px;
		font-size: 22px;
		color: #eb2444;
		background: #fff;

		span {
			font-size: 13px;
		}
	}

	// sku
	.sku {
		margin: 10px 0;
		width: 100%;
		height: 35px;
		display: flex;
		justify-content: space-between;
		background: #fff;
		align-items: center;

		div {
			width: 100%;
			height: 40px;
			padding-left: 22px;
			display: flex;
			align-items: center;

			p {
				padding-left: 22px;
			}

			span {
				font-size: 12px;
			}
		}
	}

	// 评论
	.comment {
		margin: 10px 0;
		width: 100%;
		height: 35px;
		display: flex;
		justify-content: space-between;
		background: #fff;
		align-items: center;

		div {
			width: 100%;
			height: 40px;
			padding-left: 22px;
			display: flex;
			align-items: center;
			padding-left: 22px;

			p {
				margin-left: 3px;
				font-size: 11px;
				color: red;
			}
		}

		p {
			display: flex;
			font-size: 12px;
		}
	}

	.commentTab {
		width: 100%;
		// height: 35px;

		margin: 2px 0;
		display: flex;
		background: #fff;
		// align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		// flex-direction:row;

		p {
			margin: 5px;
			font-size: 12px;
			padding: 0 15px;
			background: #fdf0f0;
		}
	}

	// 富文本
	.rich_text {
		width: 100%;

		img {
			width: 100%;
			height: 750rpx;
		}
	}

	.footer {
		width: 100%;
		height: 120rpx;
	}

	// .swiper-list {
	// 	margin-top: 40rpx;
	// 	margin-bottom: 0;
	// }

	// 商品导航
	.goods-carts {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: column;
		position: fixed;
		left: 0;
		right: 0;
		/* #ifdef H5 */
		left: var(--window-left);
		right: var(--window-right);
		/* #endif */
		bottom: 0;
	}


	//收藏
	.images {
		width: 40rpx;
		height: 40rpx;
	}

	//已选商品弹窗样式
	.tan {
		position: relative;
	}

	.data_one {
		dl {
			display: flex;

			dt {
				image {
					width: 180rpx;
					height: 180rpx;
				}
			}

			dd {
				p {
					margin-top: 20upx;

					span {
						margin-right: 10upx;
						font-size: 30upx
					}
				}

				p:nth-child(1) {
					color: red;
				}
			}
		}
	}

	.data_two {
		>view {
			width: 100%;
			height: 160upx;
			margin-left: 20upx;

			h4 {
				height: 60upx;
				line-height: 60upx;
				font-size: 30upx
			}

			>view {
				display: flex;
				margin-top: 20upx;

				span {
					padding: 10upx 20upx;
					border: solid 1px #ccc;
					margin-right: 20upx;
					border-radius: 10upx;
				}
			}
		}

		.active {
			color: #fff;
			background: rgb(222, 76, 76);
			border-color: rgb(222, 76, 76);
		}

		.on {
			color: #000;
			background: #efefef;
			border: dashed 1px #ccc;
		}
	}

	.data_three {
		width: 100%;
		height: 100upx;
		line-height: 100upx;
		display: flex;
		justify-content: space-between;

		p {
			margin-left: 20upx;
		}

		>view {
			display: flex;
			margin-right: 20upx;

			text {
				width: 80upx;
				height: 50upx;
				background: #eaeaea;
				line-height: 50upx;
				text-align: center;
				margin: 0 10upx;
			}

			button {
				width: 50upx;
				height: 50upx;
				border: none;
				padding: 0;
				margin: 0;
				line-height: 50upx;
				text-align: center;
			}
		}
	}

	.data_froe {
		width: 100%;
		height: 50px;
		line-height: 50px;
		background: #fff;
		display: flex;
		position: absolute;
		bottom: 0;

		view {
			width: 50%;
			text-align: center;
		}
	}

	//评论弹出层

	.show_four_box {
		.onebox {
			width: 100%;
			height: 100upx;
			margin-left: 20upx;
			display: flex;
			border-bottom: solid 1px #b6b6b6;

			p {
				padding-right: 20upx;
				font-size: 40upx
			}

			span {
				font-size: 24upx;
				color: #000;
			}

			p:nth-child(2) {
				span {
					font-size: 28upx;
					color: #d10000;
				}
			}
		}

		.twobox {
			display: flex;
			margin-top: 40upx;

			>span {
				padding: 10upx 20upx;
				font-size: 24upx;
				background: #f7e6e6;
				margin-left: 20upx;
				border-radius: 10upx;
			}

			.on {
				background: #e70000;
				color: #fff;
			}
		}

		.threebox {
			.top_box {
				display: flex;
				margin-top: 40upx;
				font-size: 24upx;
				align-items: center;

				span {
					margin: 20upx;
				}

				span:nth-child(4) {
					margin-left: 220upx;
				}
			}

			.bottom_box {
				padding: 16upx 0 40upx 0;
			}
		}

		.rich_text {
			width: 100%;
		}
	}

	// .button-carts {
	// 	width: 90px;
	// 	height: 38px;
	// 	font-size: 15px;
	// 	color: #fff;
	// 	position: fixed;
	// 	bottom: 6px;
	// 	right: 20px;
	// 	background-color: #EF1224;
	// }
</style>
