<template>
	<view>
		<view class="uni-form-item uni-column">
			<view class="title">收货人 :</view>
			<input class="uni-input" maxlength="10" placeholder="姓名" v-model="receiver" />
		</view>
		<view class="uni-form-item uni-column">
			<view class="title">手机号 :</view>
			<input class="uni-input" maxlength="10" placeholder="11位手机号" v-model="mobile" />
		</view>
		<view class="uni-form-item uni-column">
			<view class="title">所在地区 :</view>
			<!-- <pickerAddress @change="change">{{txt}}</pickerAddress> -->
			<my-city @getaddr="addrGet" :allList="allList"></my-city>
		</view>
		<view class="uni-form-item uni-column">
			<view class="title">详细地址 :</view>
			<input class="uni-input" maxlength="10" placeholder="如楼号/单元/门牌号" v-model="addr" />
		</view>
		<view class="uni-form-item uni-column">
			<van-button round type="danger" size="large" block @click="ADDaddr">保存收货地址</van-button>
		</view>
		<view class="uni-form-item uni-column">
			<van-button plain type="danger" size="large" block @click="DELaddr">删除收货地址</van-button>
		</view>
	</view>
</template>

<script>
	import {
		listByLeft,
		listByPid,
		addADDr,
		redactADDr, //保存编辑地址
		editADDr, //
		DELADDr, //删除
	} from "../../api/modules/login.js"
	export default {
		data() {
			return {
				addr: "", //详细地址
				area: "", //市区
				city: "", //辖区
				province: "", // 省份
				mobile: "", //手机号
				receiver: "", //用户名 
				txt: '选择地址',
				title: 'Hello',
				name: "",
				show: false,
				index: 0,
				showShare: false,
				addrId: 0, //初始ID 
				areaId: 110101000000, //// 市区ID
				city: "",
				cityId: 110100000000, //辖区ID
				province: "",
				provinceId: 110000000000, //省份ID 
				userType: 0,
				value: [0, 0, 0],
				resLeft: [],
				resContent: [],
				resRight: [],
				allList: {}
			};
		},
		onLoad(options) {
			let res = options.data
			console.log(JSON.parse(res), "ffffffffff");
			this.allList = JSON.parse(res)
			this.receiver = JSON.parse(res).receiver;
			this.mobile = JSON.parse(res).mobile;
			this.addr = JSON.parse(res).addr;
		},
		methods: {
			addrGet(val) {
				console.log(val, "valllllllll");
				// console.log(this, "hhhhhhh");
				this.value = val.initVal;
				this.resLeft = val.cityLeft;
				this.resContent = val.cityContent;
				this.resRight = val.cityRight;
			},
			// 改变所在地
			change(data) {
				this.txt = data.data.join('')
				// console.log(data.data.join(''))
			},
			async getList() {
				let res = await editADDr({
					addrId: this.allList.addrId
				})
				console.log(res, "ggggggggggg");
			},
			ADDaddr(val) {
				// console.log(val, "val");
				if (!this.receiver) { //收货人姓名为空
					uni.showToast({
						title: "请输入收货人姓名",
						duration: 1000,
						icon: "none"
					})
				} else {
					if (!this.mobile) { //手机号码为空
						uni.showToast({
							title: "请输入手机号码",
							duration: 1000,
							icon: "none"
						})
					} else {
						if (!this.addr) { //详细地址为空
							uni.showToast({
								title: "请输入详细地址",
								duration: 1000,
								icon: "none"
							})
						} else {
							console.log(this.resRight);
							console.log(this.resContent);
							console.log(this.resLeft);
							console.log(this.value);
							redactADDr({
								addr: this.addr,
								addrId: this.allList.addrId,
								area: this.resRight && this.resRight[this.value[2]].areaName,
								areaId: this.resRight && this.resRight[this.value[2]].areaId,
								city: this.resContent && this.resContent[this.value[1]].areaName,
								cityId: this.resContent && this.resContent[this.value[1]].areaId,
								mobile: this.mobile,
								province: this.resLeft && this.resLeft[this.value[0]].areaName,
								provinceId: this.resLeft && this.resLeft[this.value[0]].areaId,
								receiver: this.receiver,
								userType: 0,
							})
							let pages = getCurrentPages() // 获取当前页面
							console.log(pages,"pages");
							let prePage = pages[pages.length - 2]
							console.log(prePage,"prePage");
							prePage.data.init = true;

							uni.navigateBack({
								delta: 1
							})
						}
					}

				}

			},
			DELaddr(val) {
				let that = this;
				uni.showModal({
					title: "确定删除该地址吗？",
					success(res) { //成功点击
						// console.log(res,"success");
						console.log(that.allList.addrId, "success");
						if (!res.confirm) return; //点击取消
						DELADDr({
								addrId: that.allList.addrId,
							});
							let pages = getCurrentPages() // 获取当前页面
							console.log(pages,"pages");
							let prePage = pages[pages.length - 2]
							console.log(prePage,"prePage");
							prePage.data.init = true;
							
							uni.navigateBack({
								delta: 1
							})
					}
				})
			},
		},
		mounted() {
			this.getList()
		},
	}
</script>

<style lang="scss" scoped>
	.uni-column {
		width: 100%;
		height: 40px;
		display: flex;
		font-size: 30rpx;
		align-items: center;
		padding: 10px 0;
		// margin: 10px 0;
		border-bottom: 1px solid #eee;

		view {
			display: inline-block;
			width: 150rpx;
		}

		input {
			flex: 1;
		}

		text {
			margin-right: 15px;
			color: darkcyan;
		}

		van-button {
			width: 90%;
			display: block;
			margin: 0 auto;
		}
	}

	.clickbtn {
		width: 80%;
		margin: 20px auto;
		border-radius: 50px;
		overflow: hidden;
	}

	.noshow {
		display: none;
	}

	.showRess {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, .5);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		van-area {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
</style>
