<template>
	<view> 
		<button @click="toggle('bottom')">
			<view class="uni-title">{{cityLeft[initVal[0]].areaName}} - {{cityContent[initVal[1]].areaName}} -
				{{cityRight[initVal[2]].areaName}}
			</view>
		</button>
		<view>
			<!-- 普通弹窗 -->
			<uni-popup ref="popup" background-color="#fff">
				<view class="closePicker">
					<text class="closeText" @click="close">取消</text>
					<text class="closeText" @click="close">确认</text>
				</view>
				<picker-view v-if="visible" :indicator-style="indicatorStyle" :value="initVal" @change="bindChange"
					class="picker-view">
					<picker-view-column>
						<view class="item" v-for="(item,index) in cityLeft" :key="index">{{item.areaName}}</view>
					</picker-view-column>
					<picker-view-column>
						<view class="item" v-for="(item,index) in cityContent" :key="index">{{item.areaName}}</view>
					</picker-view-column>
					<picker-view-column>
						<view class="item" v-for="(item,index) in cityRight" :key="index">{{item.areaName}}</view>
					</picker-view-column>
				</picker-view>
			</uni-popup>
		</view>
	</view>
</template>

<script>
	import {
		listByLeft
	} from "../../api/modules/login.js"
	export default {
		name: "my-footprint",
		data() {
			return {
				visible: true,
				indicatorStyle: `height: 50px;`,
				cityLeft: [],
				cityContent: [],
				cityRight: [],
				initVal: [0, 0, 0]
			}
		},
		async created() {
			let resleft = await listByLeft({
				pid: 0
			});
			let rescontent = await listByLeft({
				pid: 110000000000
			});
			let resright = await listByLeft({
				pid: 110100000000
			});
			this.cityLeft = resleft;
			this.cityContent = rescontent;
			this.cityRight = resright;

		},
		// mounted() {
		// 	this.$emit("getaddr",this.initVal);
		// 	console.log(this.$emit("getaddr",this.initVal),"this");
		// },
		methods: {
			toggle(type) {
				this.type = type
				// open 方法传入参数 等同在 uni-popup 组件上绑定 type属性
				this.$refs.popup.open(type)
			},
			close() {
				this.$refs.popup.close()
			},
			bindChange: async function(e) {
				const val = e.detail.value
				// 当省发生改变时
				if (this.initVal[0] !== val[0]) {
					this.initVal[1] = 0;
					this.initVal[2] = 0;
					val[1] = this.initVal[1];
					val[2] = this.initVal[2];
					console.log(this.initVal);
					console.log(val);
					let rescontent2 = await listByLeft({
						pid: this.cityLeft[val[0]].areaId
					});
					let resright = await listByLeft({
						pid: rescontent2[0].areaId
					});
					this.cityContent = rescontent2;
					this.cityRight = resright;
				}
				// 当市发生改变时
				if (this.initVal[1] !== val[1]) {
					val[2] = 0;
					this.initVal[2] = 0;
					let resright = await listByLeft({
						pid: this.cityContent[val[1]].areaId
					});
					this.cityRight = resright;

				}
				this.initVal = val;
				// 讲选中的下标传给父组件
				this.$emit("getaddr", {
					initVal: this.initVal,
					cityLeft: this.cityLeft,
					cityContent: this.cityContent,
					cityRight: this.cityRight
				}); 
			}
		}
	}
</script>

<style>
	.uni-title {
		font-size: 30rpx;
	}

	.picker-view {
		width: 750rpx;
		height: 600rpx;
		margin-top: 20rpx;
	}

	.closePicker {
		display: flex;
		justify-content: space-around;
	}

	.item {
		height: 50px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
</style>
