<template>
	<view>
		<view class="container">
			<view v-for="(item,index) in addressList" :key="index" class="addItem">
				<view class="addName">
					<text style="margin-right: 10px;">{{item.receiver}}</text>
					<text>{{item.mobile}}</text>
				</view>
				<view class="addRess">
					<text>{{item.province}}{{item.city}}{{item.area}}{{item.addr}}</text>
				</view>
				<image src="../../static/images/icon/revise.png" mode="" @click="()=>redactAddr(item)"></image>
			</view>
			<view class="addBtn">
				<van-button plain hairline block type="primary" @click="editBtn">新增收货地址</van-button>
			</view>

		</view>
	</view>
</template>

<script>
	import {
		getAddress
	} from "../../api/modules/login.js"
	export default {
		data() {
			return {
				addressList: []
			};
		},
		// async created() {
		// 	// getAddress().then(res => {
		// 	// 	// console.log(res, "addressresss");
		// 	// 	this.addressList = res
		// 	// })
		// 	let res = await getAddress()
		// 	this.addressList = res
		// },
		mounted() {
			this.getList()
		},
		onShow() {
			let pages = getCurrentPages()
			let curPages = pages[pages.length - 1]
			if (curPages.data.init) {
				curPages.data.init = false
				this.getList()
			}
		},

		methods: {
			async getList() {
				let res = await getAddress()
				this.addressList = res
			},

			// 新增地址
			editBtn() {
				uni.navigateTo({
					url: "../editAddress/editAddress"
				})
			},
			// 编辑地址
			redactAddr(val) {
				// console.log(val,"vvvvvvvv");
				// uni.setStorageSync("address",val)
				// uni.navigateTo({
				// 	url:"../redactAddress/redactAddress"
				// })
				uni.navigateTo({
					url: "../redactAddress/redactAddress?data=" + JSON.stringify(val)
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.container {
		padding-bottom: 50px;
	}

	.addItem {
		border-bottom: 1px solid #ccc;
		padding: 10px;
		position: relative;

		image {
			width: 20px;
			height: 20px;
			position: absolute;
			right: 15px;
			top: 22px;
		}
	}

	.addBtn {
		display: flex;

		van-button {
			flex: 1;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
</style>
