<template>
	<view class="wrap_box">
		<!-- 搜索 -->
		<my-search :isShow='true'></my-search>
		<!-- 轮播图 -->
		<view class="uni-margin-wrap">
			<swiper class="swiper" circular :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval"
				:duration="duration">
				<swiper-item v-for="(item, index) in imgList" :key="index"  >
					<view class="swiper-item uni-bg-red">
						<img :src="item.imgUrl" alt="">
					</view>
				</swiper-item>
			</swiper>
		</view>
		<!-- 导航列表 -->
		<view class="nav_box">
			<view class="nav_list_item" @click="tonewPro">
				<image src="../../static/images/icon/newProd.png"></image>
				<text>同城帮帮</text>
			</view>
			<view class="nav_list_item" @click="timeList">
				<image src="../../static/images/icon/timePrice.png"></image>
				<text>限时特惠</text>
			</view>
			<view class="nav_list_item" @click="dailyrush">
				<image src="../../static/images/icon/getCoupon.png"></image>
				<text>每日疯抢</text>
			</view>
			<view class="nav_list_item" @click="goToMap">
				<image src="../../static/images/icon/toPay.png"></image>
				<text>地图</text>
			</view>
			<view class="nav_list_item">
				<image src="../../static/images/icon/timePrice.png"></image>
				<text>秒杀专场</text>
			</view>
		</view>
		<!-- 通知信息 -->
		<view class="message_box" @click="messageDetail">
			<img src="../../static/images/icon/horn.png" alt="">
			<view class="message_swiper">
				<swiper class="swiper" vertical='true' autoplay='true' duration='1500' circular='true'>
					<swiper-item v-for="(item, index) in tagList" :key="index" >
						<view class="swiper-item uni-bg-red">{{item.title}}</view>
					</swiper-item>
				</swiper>
			</view>
			<view>></view>
		</view>
		<!-- 列表渲染 -->
		<view class="list_content" v-for="(item, index) in titleList" :key="id" >
			<!-- 每日上新 -->
			<view class="list_every" v-if="item.style==2">
				<view class="list_every_wrap">
					<view class="list_every_top">
						<view>{{item.title}}</view>
						<text></text>
						<text class="list_every_more" @click="dailyrush">查看更多</text>
					</view>
					<view class="context_every_list">

						<view class="context_every_list_item" v-for="(item, index) in everyList" :key="index"
							@click="deleteId(item)">
							<image :src="item.pic" alt="" lazy-load='true'></image>
							<view class="prod_text">{{item.prodName}}</view>
							<view class="prod_price">¥{{item.price}}</view>
						</view>
					</view>
				</view>
			</view>
			<!-- 商场热卖 -->
			<view class="hot_content" v-if="item.style==1">
				<view class="hotsole_top">
					<view>{{item.title}}</view>
					<text @click="dailyrush">更多></text>
				</view>
				<view class='hot_sale_list'>
					<view v-for="(item, index) in everyList" :key="index" class='hot_sale_list_item' @click="deleteId(item)">
						<image :src="item.pic" alt="" lazy-load='true'></image>
						<view>
							<view class="hot_text">{{item.prodName}}</view>
							<view class="hot_brief">{{item.brief}}</view>
						</view>
						<view class="hot_sale_footer">
							<view class="prod_price">¥{{item.price}}</view>
							<image src='../../static/images/tabbar/basket-sel.png' class='shopcar_img'></image>
						</view>

					</view>
				</view>
			</view>
			<!--更多宝贝 -->
			<view class="more_list" v-if="item.style==0">
				<view class="more_list_title">
					<view>{{item.title}}</view>
				</view>
				<view class="card_list_wrap">
					<view class="more_list_item" v-for="(item, index) in moreList" :key="item.prodId" @click="deleteId(item)">
						<view>
							<image :src="item.pic" alt="" lazy-load='true' class="imgs"></image>
						</view>
						<view class="more_list_right">
							<view class="more_list_title">{{item.prodName}}</view>
							<view class="more_list_desc">{{item.brief}}</view>
							<view class="more_list_footer">
								<text class="more_list_price">¥{{item.price}}</text>
								<image src='../../static/images/tabbar/basket-sel.png' class='shopcar_img'></image>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>
<script>
	import {
		IndexImage,
		TagList,
		prodListByTagId,
		prodListByEvery
	} from '@/api/modules/home'
	import TotalMixins from '@/mixins/index.js'
	export default {
		mixins: [TotalMixins],
		data() {
			return {
				indicatorDots: true,
				autoplay: true,
				interval: 2000,
				duration: 500,
				imgList: [], //轮播
				tagList: [], //通知
				titleList: [], //标题
				everyList: [], //每日上新
				hotList: [], //商场热卖
				moreList: [] //更多宝贝
			}
		},
		methods: {
			//新品推荐页面
			tonewPro() {
				uni.navigateTo({
					url: '/pages/newprod/newprod'
				})
			},
			//限时特惠
			timeList() {
				uni.navigateTo({
					url: '/pages/timelimit/timelimit'
				})
			},
			//每日疯抢
			dailyrush() {
				uni.navigateTo({
					url: '/pages/newprod/newprod'
				})
			},
			//消息通知页面
			messageDetail() {
				console.log(111);
				uni.navigateTo({
					url: '/pages/message/message'
				})
			},
			toSearchPage() {
				// console.log(11)
				// uni.navigateTo({
				// 	url:'/pages/searchcon/searchcon'
				// })
			},

			deleteId(item) {
				var categoryId = item.prodId
				uni.navigateTo({
					url: "/pages/prod/prod?prodId=" + categoryId
				})
				console.log(categoryId,"categoryId");
			},
			//跳详情,
			todetail() {
				uni.navigateTo({
					url: '/pages/newprod/newprod'
				})
			},
			//地图
			goToMap(){
				uni.navigateTo({
					url:'/searchpkg/map/map'
				})
			}
		},
		async created() {
			// this.getinit()
			//轮播图
			let swiperres = await IndexImage()
			this.imgList = swiperres
			//标签
			let tagres = await TagList()
			this.tagList = tagres
			//产品列表
			let titleres = await prodListByTagId()
			this.titleList = titleres
			//每日上新
			let res3 = await prodListByEvery({
				tagId: 1,
				size: 6
			})
			this.everyList = res3.records
			//商场热卖
			let res4 = await prodListByEvery({
				tagId: 2,
				size: 6
			})
			this.everyList = res4.records
			//更多宝贝
			let res5 = await prodListByEvery({
				tagId: 3,
				size: 6
			})
			this.moreList = res5.records
		}
	}
</script>

<style lang="scss">
	/* 总容器 */
	.wrap_box {
		background: #f7f7f7;
		height: auto;
		font-size: 28rpx;
		box-sizing: border-box;
	}

	.uni-margin-wrap {
		margin-top: 100rpx;
		width: 690rpx;
		width: 100%;
	}

	.swiper {
		height: 400rpx;
	}

	.swiper-item {
		display: block;
		height: 400rpx;
		line-height: 400rpx;
		text-align: center;
	}

	.swiper-item img {
		width: 100%;
		height: 100%;
	}

	.nav_box {
		width: 100%;
		height: 160rpx;
		/* background-color: darkorchid; */
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 10rpx;
	}

	.nav_box .nav_list_item {
		width: 20%;
		height: 160rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav_box .nav_list_item image {
		width: 60%;
		height: 80rpx;
		padding-bottom: 10rpx;
	}

	.nav_box .nav_list_item {
		font-size: 28rpx;
		margin-top: 10rpx;
	}

	.message_box {
		width: 100%;
		height: 60rpx;
		margin-top: 10rpx;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.message_box img {
		width: 90rpx;
		height: 70%;
	}

	.message_swiper {
		width: 60%;
		height: 100%;
	}

	.message_swiper .swiper {
		width: 100%;
		height: 100%;
	}

	.message_swiper .swiper .swiper-item {
		display: block;
		width: 100%;
		height: 60rpx;
		line-height: 60rpx;
		text-align: center;
		font-size: 30rpx;
	}

	//每日上新
	.list_every {
		width: 100%;
		height: 730rpx;
	}

	.list_every_wrap {
		width: 100%;
		height: 230rpx;
		background-color: deepskyblue;
	}

	.list_every_top {
		width: 100%;
		height: 70rpx;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: #ffffff;
		margin-top: 20rpx;
	}

	.list_every_more {
		display: inline-block;
		width: 150rpx;
		height: 50rpx;
		background-color: rgba(0, 0, 0, .2);
		border-radius: 20rpx;
		line-height: 50rpx;
	}

	.context_every_list {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.context_every_list_item {
		width: 30%;
		height: 300rpx;
		background-color: #ffffff;
		border-radius: 20rpx;
		margin-top: 20rpx;

	}

	.context_every_list_item image {
		width: 100%;
		height: 180rpx;
		border-radius: 20rpx;
	}

	//文本溢出
	.prod_text {
		overflow: hidden;
		margin: 6rpx 0;
		height: 68rpx;
		display: -webkit-box;
		word-break: break-all;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		color: #000;
		padding: 0 10rpx;
	}

	.prod_price {
		color: #eb2444;
		// padding: 0 15rpx;
		margin-right: 200rpx
	}

	//商场热卖
	.hot_content {
		width: 100%;
		height: 1430rpx;
	}

	.hotsole_top {
		width: 90%;
		height: 70rpx;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #000;
		margin-top: 20rpx;
		padding: 0 20rpx;
	}

	.hot_sale_list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.hot_sale_list_item {
		width: 43%;
		height: 420rpx;
		background-color: #ffffff;
		margin-top: 20rpx;
		box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
		padding: 0 14rpx;
		position: relative;
	}

	.hot_sale_list_item image {
		width: 100%;
		height: 240rpx;
	}

	.hot_sale_list_item .shopcar_img {
		width: 40rpx;
		height: 40rpx;
	}

	.hot_sale_footer {

		// padding: 10rpx 10rpx;
		position: absolute;
		bottom: 0;
		display: flex;
		// justify-content: space-between;
		padding: 0 30rpx;
	}

	//更多宝贝
	.more_list_title {
		padding-left: 20rpx;
	}

	.contcard {
		width: 100%;
		background-color: aqua;
	}

	.card_list_wrap {
		width: 100%;
		height: 300rpx;
		// display: flex;
	}

	.more_list_item {
		// width: 100%;
		// display: flex;
		// justify-content:space-between;
		// margin-top: 15rpx;
		position: relative;
		display: flex;
		padding: 20rpx;
		justify-content: start;
		border-top: 2rpx solid #f4f4f4;
	}

	.more_list_item .imgs {
		width: 300rpx;
		height: 300rpx;
	}

	.more_list_item .more_list_right image {
		width: 40rpx;
		height: 40rpx;
	}

	.more_list_right {
		margin-left: 30rpx;
		width: 72%;
		padding-bottom: 10rpx;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.more_list_footer {
		margin-top: 50rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.more_list_title {
		font-size: 26rpx;
	}

	.more_list_desc {
		font-size: 22rpx;
		padding: 10rpx 19rpx;
	}

	.more_list_price {
		color: #eb2444;
	}
</style>
