<template>
	<view class="container">
		<view v-for="(item,index) in liveList" :key="index" class="liveItem" @click="()=>gotoLive(item)">
			<image :src="item.cover_img" mode="" lazy-load="true"></image>
			<view class="startLook">开播： {{item.start_time}}-{{item.end_time}} </view>
			<view class="navTitle">{{item.name}}</view>
			<view class="anchor">
				{{item.anchor_name}}
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getLive,
		toLive
	} from "../../api/modules/live.js"
	import TotalMixins from '@/mixins/index.js'
	export default {
		mixins: [TotalMixins],
		data() {
			return {
				liveList: []
			};
		},
		async created() {
			let liveres = await getLive()
			console.log(liveres,"liveres");
			this.liveList = liveres.data.room_info
			console.log(this.liveList, "livelist");
		}, 
		methods: {
			gotoLive(val) {
				console.log(val, "vall");
				console.log(111);
				// this.ToLive()
				uni.navigateTo({
					url:`plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${val.roomid}&custom_params=sign`
				})
			},
			// async ToLive() {
			// 	let res = await toLive()
			// 	console.log(res, "rrrrrrrr");
			// }
		}
	}
</script>

<style lang="scss" scoped>
	.container {
		width: 100%;
		height: 100%;

		.liveItem {
			display: inline-block;
			background-color: #fff;
			width: 48%;
			margin: 10px 1%;

			image {
				width: 100%;
				height: 200px;
			}

			.startLook {
				font-size: 12px;
				color: #ccc;
			}

			.navTitle {
				font-size: 20px;
			}

			.anchor:before {
				content: "主播";
				display: inline-block;
				width: 40px;
				height: 40px;
				text-align: center;
				align-items: center;
				line-height: 40px;
				border-radius: 50%;
				background-color: burlywood;
				margin-right: 10px;
			}
		}
	}
</style>
