<template>
	<view>
		<my-search :isShow='false' :val='val' :isCancle='false' @confirm="handelConfirm"></my-search>
		<view class="tabs">
			<view class="choose-tab">
				<view class="choose-tab-item" :class="chooseTab == 0 ? 'active' : ''" data-choose="0" @click="clickTab">
					综合</view>
				<view class="choose-tab-item" :class="chooseTab == 1 ? 'active' : ''" data-choose="1" @click="clickTab">
					销量</view>
				<view class="choose-tab-item" :class="chooseTab == 2 ? 'active' : ''" data-choose="2" @click="clickTab">
					价格</view>
			</view>
			<view class="content">
				<view :style="chooseTab != 0 ? 'display:none' : ''">
					<view class="search_list">
						<view class="search_list_item" v-for="(item, index) in searchConList" :key="item.prodId">
							<view>
								<img :src="item.pic" alt="" class="imgs">
							</view>
							<view class="more_list_right">
								<view class="more_list_title">{{item.prodName}}</view>
								<view class="more_list_desc">0好评 0%好评</view>
								<view class="more_list_footer">
									<text class="more_list_price">¥{{item.price}}</text>
								</view>
							</view>
						</view>
					</view>
				</view>
				<view :style="chooseTab != 1 ? 'display:none' : ''">
					<view class="search_list">
						<view class="search_list_item" v-for="(item, index) in searchConList" :key="item.prodId">
							<view>
								<img :src="item.pic" alt="" class="imgs">
							</view>
							<view class="more_list_right">
								<view class="more_list_title">{{item.prodName}}</view>
								<view class="more_list_desc">0好评 0%好评</view>
								<view class="more_list_footer">
									<text class="more_list_price">¥{{item.price}}</text>
								</view>
							</view>
						</view>
					</view>
				</view>
				<view :style="chooseTab != 2 ? 'display:none' :  ''">
					<view class="search_list">
						<view class="search_list_item" v-for="(item, index) in searchConList" :key="item.prodId">
							<view>
								<img :src="item.pic" alt="" class="imgs">
							</view>
							<view class="more_list_right">
								<view class="more_list_title">{{item.prodName}}</view>
								<view class="more_list_desc">0好评 0%好评</view>
								<view class="more_list_footer">
									<text class="more_list_price">¥{{item.price}}</text>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		searchList
	} from '@/api/modules/home'
	export default {
		data() {
			return {
				val: '',
				chooseTab: 0, //当前选中的选项卡：默认选中第一个~
				searchConList: []
			};
		},
		onLoad(options) {
			// console.log(decodeURIComponent(options.searchConList),'options')
			this.val = options.val
			// console.log(this.searchConList,'this.searchConList')
			this.searchConList = decodeURIComponent(options.searchConList)
			this.searchConList = JSON.parse(this.searchConList)
			// console.log(this.searchConList,'this.searchConList')
		},
		//  mounted() {
		//    let res3 = await searchList({
		// 		current:1,
		// 		size:10,
		// 		prodName:'',
		// 		sort:0,
		// 	})
		// 	// console.log(res3.records,'resssssssssssssssssssssssssssssssssssssssssssssss111111111111111111111')
		// 	this.searchConList = res3.records
		// },
		methods: {
			handelConfirm(val) {
				// console.log("val",val)
				searchList({
					current: 1,
					prodName: val,
					size: 10,
					sort: 0,
				}).then(res => {
					this.searchConList = res.records
					// console.log(this.searchConList, 'ressssssssssssssssssssssssssssssssssssssss')

				})
			},
			clickTab: function(e) { //点击切换
				this.chooseTab = e.target.dataset.choose;
				// console.log(this.chooseTab)	
				if (this.chooseTab === '1') {
					searchList({
						current: 1,
						prodName: this.val,
						size: 10,
						sort: 1,
					}).then(res => {
						this.searchConList = res.records
						// console.log( res.records,' res.records res.records res.records')
					})
				} else if (this.chooseTab === '2') {
					searchList({
						current: 1,
						prodName: this.val,
						size: 10,
						sort: 2,
					}).then(res => {
						this.searchConList = res.records
					})
				}
			},
		}
	}
</script>

<style lang="scss">
	.choose-tab {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		width: 100%;
		height: 90rpx;
		line-height: 90rpx;
		text-align: center;
		border-bottom: 2rpx solid #ccc;
	}

	.choose-tab-item {
		width: 25%;
	}

	.active {
		color: red;
		border-bottom: 4rpx solid red;
	}

	.content {
		text-align: center;
	}

	.search_list_item {
		// width: 100%;
		// display: flex;
		// justify-content:space-between;
		// margin-top: 15rpx;
		position: relative;
		display: flex;
		padding: 20rpx;
		justify-content: start;
		border-top: 2rpx solid #f4f4f4;
	}

	.search_list_item .imgs {
		width: 230rpx;
		height: 230rpx;
	}

	// .search_list_item .more_list_right image {
	// 	width: 40rpx;
	// 	height: 40rpx;
	// }

	.more_list_right {
		margin-left: 30rpx;
		width: 72%;
		padding-bottom: 10rpx;
		display: flex;
		flex-direction: column;
		// justify-content: center;
	}

	.more_list_footer {
		margin-top: 50rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.more_list_title {
		font-size: 26rpx;
	}

	.more_list_desc {
		font-size: 22rpx;
		padding: 10rpx 19rpx;
	}

	.more_list_price {
		color: #eb2444;
	}
</style>
